openapi: 3.2.0
info:
  title: Leadping Blog Articles API
  description: The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.
  termsOfService: https://leadping.ai/docs/terms-of-service
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
  summary: Lead management, messaging, calling, and automation API
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: BlogArticles
  description: Provides published Leadping blog content. Use these endpoints to list published articles and retrieve an individual article by its public slug.
paths:
  /blog:
    get:
      tags:
      - BlogArticles
      summary: Lists published blog articles
      description: Returns the Leadping blog articles currently available to public readers.
      operationId: BlogArticles_GetPublished
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/BlogArticleResponse'
                  description: Represents a blog article response.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: false
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
  /blog/{slug}:
    get:
      tags:
      - BlogArticles
      summary: Gets a published blog article by slug
      description: Returns the public article identified by its URL slug, or a not-found response when no published article matches.
      operationId: BlogArticles_GetPublishedBySlug
      parameters:
      - name: slug
        in: path
        description: The public URL slug of the published article.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/BlogArticleResponse'
                description: Represents a blog article response.
        '404':
          description: The requested resource was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: false
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
          description: URI reference that identifies the problem type.
        title:
          type:
          - 'null'
          - string
          description: Short, human-readable summary of the problem.
        status:
          type:
          - 'null'
          - integer
          description: HTTP status code returned for the problem.
          format: int32
        detail:
          type:
          - 'null'
          - string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - 'null'
          - string
          description: URI reference that identifies this specific occurrence of the problem.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Validation errors keyed by the JSON request field name. Present for request validation failures.
        traceId:
          type: string
          description: Request trace identifier used to correlate this problem with Leadping diagnostics.
      description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
    BlogArticleResponse:
      type: object
      properties:
        id:
          type: string
          description: Gets or sets the ID.
        title:
          type: string
          description: Gets or sets the title.
        slug:
          type: string
          description: Gets or sets the slug.
        excerpt:
          type: string
          description: Gets or sets the excerpt.
        content:
          type: string
          description: Gets or sets the content.
        category:
          type:
          - 'null'
          - string
          description: Gets or sets the category.
        authorName:
          type:
          - 'null'
          - string
          description: Gets or sets the author name.
        coverImageUrl:
          type:
          - 'null'
          - string
          description: Gets or sets the cover image URL.
          format: uri
        publishedAt:
          type:
          - 'null'
          - string
          description: Gets or sets the published at.
          format: date-time
        isPublished:
          type: boolean
          description: Gets or sets the is published.
        isFeatured:
          type: boolean
          description: Gets or sets the is featured.
        createdAt:
          type: string
          description: Gets or sets the created at.
          format: date-time
        modifiedAt:
          type: string
          description: Gets or sets the modified at.
          format: date-time
      description: Represents a blog article response.
  securitySchemes:
    Bearer:
      type: http
      description: Authorization header using the Bearer scheme. Accepted values are Leadping user JWT access tokens and WorkOS organization API keys beginning with sk_.
      scheme: bearer
      bearerFormat: JWT or organization API key
    SourceKey:
      type: http
      description: 'Leadping source key for lead ingestion endpoints only using the Authorization header. Example: "Authorization: Bearer lp_src_...".'
      scheme: bearer
      bearerFormat: Leadping source key
externalDocs:
  description: Leadping API documentation, authentication guide, concepts, and integration guidance.
  url: https://leadping.ai/docs/api-reference
