openapi: 3.2.0
info:
  title: Leadping Organizations API
  description: The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.
  termsOfService: https://leadping.ai/docs/terms-of-service
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
  summary: Lead management, messaging, calling, and automation API
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: Organizations
  description: Manages Leadping organizations, memberships, invitations, settings, and API credentials. Use these endpoints to maintain organization profiles and branding, manage members and invitations, configure options, and issue or revoke organization API keys.
paths:
  /organizations/me:
    get:
      tags:
      - Organizations
      summary: Get current organization account profile
      description: Returns the authenticated user's current organization profile, including account settings, billing context, and communication configuration.
      operationId: Organizations_GetForCurrentUser
      responses:
        '200':
          description: Organization was successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '404':
          description: The specified organization was not found.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
    post:
      tags:
      - Organizations
      summary: Create an organization account
      description: Creates an organization account for the authenticated user, assigns them as its owner, and makes it their active organization context.
      operationId: Organizations_CreateForCurrentUser
      requestBody:
        description: The organization profile, contact, and initial setup details to create.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
    put:
      tags:
      - Organizations
      summary: Update current organization account profile
      description: Updates the authenticated user's current organization profile, including contact, settings, and communication configuration.
      operationId: Organizations_UpdateForCurrentUser
      requestBody:
        description: The updated organization profile data.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
        required: true
      responses:
        '200':
          description: Returns the organization response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/options:
    get:
      tags:
      - Organizations
      summary: List organization switch options
      description: Lists organizations the authenticated user can switch into, including membership role and current-organization selection data.
      operationId: Organizations_GetSwitchOptions
      responses:
        '200':
          description: Returns the list of organization switch option.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/OrganizationSwitchOption'
                  description: Describes organization switch option data used in Leadping API requests and responses.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/switch:
    post:
      tags:
      - Organizations
      summary: Switch current organization account context
      description: Switches the authenticated user's active organization context so subsequent lead, billing, and communication requests target that organization.
      operationId: Organizations_SwitchCurrentOrganization
      requestBody:
        description: The selected organization identifier.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationSwitchRequest'
              description: Defines the fields clients can send when working with organization switch.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationSwitchRequest'
              description: Defines the fields clients can send when working with organization switch.
        required: true
      responses:
        '200':
          description: Returns the organization response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/members:
    get:
      tags:
      - Organizations
      summary: List users for the current organization
      description: Lists users assigned to the current organization, including roles and membership details for access management.
      operationId: Organizations_GetCurrentOrganizationMembers
      responses:
        '200':
          description: Returns the list of organization member table row.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/OrganizationMemberTableRow'
                  description: Describes organization user data used in Leadping API requests and responses.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
    post:
      tags:
      - Organizations
      summary: Add a user to the current organization account
      description: Adds an existing user to the current organization with the requested role for shared lead communication and account access.
      operationId: Organizations_AddCurrentOrganizationMember
      requestBody:
        description: The user and role to add to the current organization.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
        required: true
      responses:
        '200':
          description: Returns the organization member response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationMemberResponse'
                description: Describes organization user data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/members/{userId}:
    put:
      tags:
      - Organizations
      summary: Change a current-organization user role
      description: Changes a user's role in the current organization, updating access to lead, automation, billing, and admin workflows.
      operationId: Organizations_ChangeCurrentOrganizationMemberRole
      parameters:
      - name: userId
        in: path
        description: The ID of the user whose current-organization role is changing.
        required: true
        schema:
          type: string
      requestBody:
        description: The updated role assignment.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
        required: true
      responses:
        '200':
          description: Returns the organization member response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationMemberResponse'
                description: Describes organization user data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
    delete:
      tags:
      - Organizations
      summary: Remove a user from the current organization
      description: Removes a user from the current organization, revoking their access to its leads, settings, billing, and communication data.
      operationId: Organizations_RemoveCurrentOrganizationMember
      parameters:
      - name: userId
        in: path
        description: The ID of the user to remove from the current organization.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content is returned when the operation succeeds.
        '400':
          description: The request was invalid or failed validation.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/invitations:
    get:
      tags:
      - Organizations
      summary: List invitations for the current organization
      description: Lists pending and historical invitations for the current organization, including recipient, role, status, and expiration.
      operationId: Organizations_GetCurrentOrganizationInvitations
      responses:
        '200':
          description: Returns the list of organization invitation table row.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/OrganizationInvitationTableRow'
                  description: Describes organization invitation data used in Leadping API requests and responses.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
    post:
      tags:
      - Organizations
      summary: Create a current-organization user invitation
      description: Creates an invitation for the current organization so another user can join with the requested role and account access.
      operationId: Organizations_CreateCurrentOrganizationInvitation
      requestBody:
        description: The invitation recipient and requested role.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationInvitationRequest'
              description: Defines the input used for organization invitation.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationInvitationRequest'
              description: Defines the input used for organization invitation.
        required: true
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/invitations/{invitationId}/resend:
    post:
      tags:
      - Organizations
      summary: Resend a current-organization user invitation
      description: Resends a pending current-organization invitation, refreshing delivery while preserving recipient, role, and acceptance token.
      operationId: Organizations_ResendCurrentOrganizationInvitation
      parameters:
      - name: invitationId
        in: path
        description: The ID of the current-organization invitation to resend.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/invitations/{invitationId}:
    delete:
      tags:
      - Organizations
      summary: Revoke a current-organization user invitation
      description: Revokes a pending current-organization invitation so the recipient can no longer use it to join the organization.
      operationId: Organizations_RevokeCurrentOrganizationInvitation
      parameters:
      - name: invitationId
        in: path
        description: The ID of the current-organization invitation to revoke.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content is returned when the operation succeeds.
        '400':
          description: The request was invalid or failed validation.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/me/10dlc/notes:
    put:
      tags:
      - Organizations
      summary: Update organization 10DLC notes
      description: Updates the shared 10DLC registration notes for the current organization, keeping carrier review context and messaging compliance details current.
      operationId: Organizations_UpdateCurrentOrganizationTenDlcNotes
      requestBody:
        description: The replacement 10DLC registration and carrier-review notes.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TenDlcNotesRequest'
              description: Updates the internal notes associated with a 10DLC application.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TenDlcNotesRequest'
              description: Updates the internal notes associated with a 10DLC application.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/api-keys/my:
    post:
      tags:
      - Organizations
      summary: List current-organization API keys
      description: Retrieves a paged list of API keys owned by the caller's current Leadping organization, with support for filtering, sorting, and pagination.
      operationId: Organizations_GetAllApiKeysForCurrentUser
      requestBody:
        description: Pagination, filtering, and sorting options.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RequestDataOptions'
              description: Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/RequestDataOptions'
              description: Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query.
        required: true
      responses:
        '200':
          description: Current-organization API keys were successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PagedResultOfOrganizationTableRow'
                description: Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata.
        '400':
          description: The request was invalid or malformed.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
  /organizations/invitations/token/{token}:
    get:
      tags:
      - Organizations
      summary: Get an organization user invitation by token
      description: Returns an organization invitation by acceptance token, including organization, recipient, role, and expiration details.
      operationId: Organizations_GetInvitationByToken
      parameters:
      - name: token
        in: path
        description: The invitation acceptance token.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security: []
  /organizations/invitations/accept:
    post:
      tags:
      - Organizations
      summary: Accept organization invitation
      description: Accepts an organization invitation for the signed-in user, creating membership and setting organization access context.
      operationId: Organizations_AcceptInvitation
      requestBody:
        description: The invitation token and accepting user details.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AcceptOrganizationInvitationRequest'
              description: Defines the input used for accept organization invitation.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AcceptOrganizationInvitationRequest'
              description: Defines the input used for accept organization invitation.
        required: true
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security: []
components:
  schemas:
    OrganizationTableRow:
      type: object
      properties:
        id:
          type: string
          description: Unique Leadping identifier for this organization.
        name:
          type: string
          description: The human-readable name shown for this organization.
        organization:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Identifier and display name of the related organization.
        industry:
          type:
          - 'null'
          - string
          description: Industry for this organization.
        userCount:
          type: integer
          description: The user count for this organization.
          format: int32
        accountBalance:
          type:
          - 'null'
          - number
          description: Account balance for this organization.
          format: double
        billingPlan:
          enum:
          - Annual
          - Monthly
          type:
          - 'null'
          - string
          description: Identifies the Leadping subscription plan that determines organization features, allowances, and billing behavior.
        subscriptionStatus:
          enum:
          - Pending
          - Active
          - Overdue
          - Canceled
          type:
          - 'null'
          - string
          description: Describes an organization's billing subscription lifecycle, including trial, active, delinquent, canceled, and expired states.
        lastSubscriptionEventAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization table row was last subscription event.
          format: date-time
        subscriptionCancelAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization table row was subscription cancel.
          format: date-time
        paymentFailedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization table row was payment failed.
          format: date-time
        phone:
          type: string
          description: The phone number associated with this organization.
        website:
          type: string
          description: The website URL associated with this organization.
        status:
          enum:
          - SettingUp
          - SetupCompleted
          - Active
          type:
          - 'null'
          - string
          description: Describes an organization's account lifecycle and whether it can actively use Leadping services.
        enabled:
          type: boolean
          description: Whether this organization is enabled.
        apiKeyPreview:
          type:
          - 'null'
          - string
          description: The masked API key preview owned by this organization.
        apiKeyPermissions:
          type:
          - 'null'
          - array
          items:
            type: string
          description: WorkOS permission slugs granted to this organization API key.
        apiKeyIssuedAt:
          type:
          - 'null'
          - string
          description: The date and time this organization API key was issued.
          format: date-time
        apiKeyFirstUsedAt:
          type:
          - 'null'
          - string
          description: The date and time this organization API key was first used.
          format: date-time
        apiKeyLastUsedAt:
          type:
          - 'null'
          - string
          description: The date and time this organization API key was last used.
          format: date-time
        apiKeyExpiresAt:
          type:
          - 'null'
          - string
          description: The date and time this organization API key expires, or null when it has no expiration.
          format: date-time
        apiKeyTotalUses:
          type: integer
          description: The total number of tracked uses for this organization API key.
          format: int64
        setupStep:
          enum:
          - DomainFinding
          - DomainOptionsFound
          - SiteGenerating
          - SiteGenerated
          - BrandSubmitted
          - BrandApproved
          - CampaignSubmitted
          - CampaignApproved
          - CarrierReviewing
          - TenDlcComplete
          - Complete
          type:
          - 'null'
          - string
          description: Identifies a discrete billing, telephony, compliance, or configuration stage in organization provisioning.
        activationStatus:
          enum:
          - DraftOnboarding
          - PaymentMethodPending
          - PaymentMethodConfirmed
          - SubscriptionPending
          - SubscriptionReceived
          - SubscriptionActive
          - LaunchReviewPending
          - TelephonyProvisioningPending
          - TelephonyPartiallyProvisioned
          - TelephonyReady
          - AwaitingReview
          - DomainSelection
          - WebsiteSetup
          - ComplianceRegistration
          - ReadyForApproval
          - Active
          - Failed
          - Blocked
          - BlockedRequiresOperatorAction
          - ManuallyBypassed
          type:
          - 'null'
          - string
          description: Summarizes an organization's overall progress from initial Leadping onboarding through launch readiness.
        websiteStatus:
          enum:
          - NotStarted
          - DomainSuggestionsPending
          - DomainSelectionPending
          - DomainPurchasePending
          - DomainPurchased
          - WebsiteGenerationQueued
          - WebsiteGenerating
          - WebsiteDeploymentQueued
          - WebsiteDeploying
          - WebsiteLive
          - WebsiteFailed
          - ManuallyBypassed
          type:
          - 'null'
          - string
          description: Describes an organization website's lifecycle from discovery and verification through activation, suspension, or removal.
        tenDlcStatus:
          enum:
          - NotStarted
          - DraftGenerated
          - DraftIncomplete
          - ReadyToSubmit
          - Submitted
          - PendingTelnyxReview
          - Approved
          - Rejected
          - NeedsChanges
          - ResubmissionReady
          - Failed
          type:
          - 'null'
          - string
          description: Describes an organization's overall 10DLC registration lifecycle across brand and messaging campaign submission.
        needsAdminReview:
          type: boolean
          description: Whether needs admin review applies to this organization.
        modifiedAt:
          type: string
          description: UTC timestamp for modified at on this organization.
          format: date-time
      description: Describes organization data used in Leadping API requests and responses.
    OrganizationSwitchRequest:
      required:
      - organizationId
      type: object
      properties:
        organizationId:
          type: string
          description: Organization ID to switch into for the current Leadping session.
      description: Defines the fields clients can send when working with organization switch.
    RequestDataOptions:
      type: object
      properties:
        pageSize:
          type: integer
          description: Maximum number of items requested for one page; the server may enforce a lower maximum or apply a default.
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
          description: Opaque cursor returned by the previous paged response; omit it when requesting the first page and do not parse or modify it.
        orderBy:
          type:
          - 'null'
          - array
          items:
            allOf:
            - $ref: '#/components/schemas/OrderByOption'
            description: Defines one field and direction used to order an API query result set.
          description: Sort instructions applied in priority order, with the first entry acting as the primary sort.
        includeCount:
          type:
          - 'null'
          - boolean
          description: Whether the response should include the total number of matching records; counting may increase query cost or latency.
        search:
          type:
          - 'null'
          - string
          description: Free-text search term applied to the configured SearchFields.
        searchFields:
          type:
          - 'null'
          - array
          items:
            type: string
          description: Serializable string field names searched for Search; supported names are determined by the queried resource.
        filters:
          type:
          - 'null'
          - array
          items:
            allOf:
            - $ref: '#/components/schemas/ExactMatchFilter'
            description: Selects records whose named field equals a supplied scalar value.
          description: Exact-match conditions that require each named field to equal its supplied value.
        rangeFilters:
          type:
          - 'null'
          - array
          items:
            allOf:
            - $ref: '#/components/schemas/RangeFilter'
            description: Selects records by applying inclusive or exclusive lower and upper bounds to a named comparable field.
          description: Range conditions that constrain comparable fields with inclusive or exclusive lower and upper bounds.
      description: Defines cursor pagination, sorting, search, exact-match filters, and range filters for a structured API query.
    OrganizationDunningInfo:
      type: object
      properties:
        stage:
          type:
          - 'null'
          - string
          description: Current stage for this Leadping organization dunning info.
        paymentFailedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was payment failed.
          format: date-time
        lastFailedInvoiceStatus:
          type:
          - 'null'
          - string
          description: Current last failed invoice status for this Leadping organization dunning info.
        retryAttemptCount:
          type: integer
          description: Total number of retry attempt records represented by this Leadping organization dunning info.
          format: int32
        nextRetryAt:
          type:
          - 'null'
          - string
          description: Date and time when the next retry is scheduled.
          format: date-time
        gracePeriodEndsAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was grace period ends.
          format: date-time
        outboundRestrictedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was outbound restricted.
          format: date-time
        outboundSuspendedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was outbound suspended.
          format: date-time
        finalCancellationAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was final cancellation.
          format: date-time
        lastUpdatedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was last updated.
          format: date-time
      description: Dunning state recorded after a failed recurring payment.
    ActivationTimelineEvent:
      type: object
      properties:
        id:
          type: string
          description: Unique Leadping identifier for this activation timeline event.
        type:
          type: string
          description: The type classification for this activation timeline event.
        title:
          type: string
          description: Title for this activation timeline event.
        details:
          type:
          - 'null'
          - string
          description: Details for this activation timeline event.
        status:
          type: string
          description: The current status for this activation timeline event.
        actor:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Identifier and display name of the related actor.
        failureReason:
          type:
          - 'null'
          - string
          description: The human-readable failure reason explaining this activation timeline event.
        createdAt:
          type: string
          description: UTC timestamp for created at on this activation timeline event.
          format: date-time
      description: Describes activation timeline event data used in Leadping API requests and responses.
    StreetAddress:
      type: object
      properties:
        line1:
          type:
          - 'null'
          - string
          description: Primary delivery line, such as a street address, post-office box, or company name.
        line2:
          type:
          - 'null'
          - string
          description: Secondary delivery line, such as an apartment, suite, unit, floor, or building.
        city:
          type:
          - 'null'
          - string
          description: City, town, village, or other postal locality.
        state:
          type:
          - 'null'
          - string
          description: State or equivalent first-level administrative subdivision when that label is used by the country.
        province:
          type:
          - 'null'
          - string
          description: Province or territory when represented separately from State by the source or destination system.
        region:
          type:
          - 'null'
          - string
          description: Region, district, county, prefecture, or other administrative area not represented by state or province.
        postalCode:
          type:
          - 'null'
          - string
          description: Postal routing code, such as a ZIP code or postcode, formatted according to the destination country.
        country:
          type:
          - 'null'
          - string
          description: Two-letter ISO 3166-1 alpha-2 country code, such as US, GB, or CA.
        additionalInfo:
          type:
          - 'null'
          - string
          description: Additional address context or delivery instructions that do not fit the structured fields.
      description: Describes a physical or mailing address using international locality, administrative-area, postal-code, and country fields.
    PagedResultOfOrganizationTableRow:
      type: object
      properties:
        items:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/OrganizationTableRow'
            description: Describes organization data used in Leadping API requests and responses.
          description: Items included in the current page, in the order determined by the query.
        pageSize:
          type: integer
          description: Effective page-size limit used for this response, which may differ from the requested size because of server defaults or limits.
          format: int32
        totalCount:
          type:
          - 'null'
          - integer
          description: Total number of records matching the query across all pages, or null when counting was not requested or computed.
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
          description: Opaque cursor for requesting the next page, or null when no additional page is available; clients must not parse or modify it.
      description: Returns one page of query results together with page-size, optional total-count, and opaque continuation-cursor metadata.
    ActivationSubscriptionStatus:
      enum:
      - Pending
      - Active
      - Failed
      - Canceled
      type: string
      description: Describes whether an organization's subscription is ready, blocked, or still incomplete during activation.
    OrganizationInvitationStatus:
      enum:
      - Pending
      - Accepted
      - Expired
      - Revoked
      - Resent
      - Failed to send
      type: string
      description: Describes the lifecycle of an organization membership invitation from issuance through acceptance, expiration, or revocation.
    ActivationDomainOption:
      type: object
      properties:
        domainName:
          type: string
          description: The domain name associated with this activation domain option.
        whyItFits:
          type: string
          description: Why it fits for this activation domain option.
        industryRelevance:
          type: string
          description: Industry relevance for this activation domain option.
        trustConcerns:
          type:
          - 'null'
          - string
          description: Trust concerns for this activation domain option.
        estimatedAnnualCost:
          type:
          - 'null'
          - number
          description: Estimated annual cost for this activation domain option.
          format: double
        availabilityStatus:
          type: string
          description: The current availability status for this activation domain option.
        recommended:
          type: boolean
          description: Whether this activation domain option is recommended.
      description: Describes activation domain option data used in Leadping API requests and responses.
    AcceptOrganizationInvitationRequest:
      required:
      - token
      type: object
      properties:
        token:
          type: string
          description: The token supplied to authorize or complete this organization invitation.
        email:
          type:
          - 'null'
          - string
          description: The email address associated with this organization invitation.
          format: email
        firstName:
          type:
          - 'null'
          - string
          description: First name for this organization invitation.
        lastName:
          type:
          - 'null'
          - string
          description: UTC timestamp for last name on this organization invitation.
      description: Defines the input used for accept organization invitation.
    OrganizationSwitchOption:
      type: object
      properties:
        id:
          type: string
          description: Unique Leadping identifier for this organization switch option.
        name:
          type: string
          description: The human-readable name shown for this organization switch option.
        role:
          allOf:
          - $ref: '#/components/schemas/OrganizationMemberRole'
          description: Role for this organization switch option.
        isCurrent:
          type: boolean
          description: Whether this organization switch option is current.
        lastUsedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for last used at on this organization switch option.
          format: date-time
        organizationStatus:
          enum:
          - SettingUp
          - SetupCompleted
          - Active
          type:
          - 'null'
          - string
          description: Describes an organization's account lifecycle and whether it can actively use Leadping services.
        activationStatus:
          enum:
          - DraftOnboarding
          - PaymentMethodPending
          - PaymentMethodConfirmed
          - SubscriptionPending
          - SubscriptionReceived
          - SubscriptionActive
          - LaunchReviewPending
          - TelephonyProvisioningPending
          - TelephonyPartiallyProvisioned
          - TelephonyReady
          - AwaitingReview
          - DomainSelection
          - WebsiteSetup
          - ComplianceRegistration
          - ReadyForApproval
          - Active
          - Failed
          - Blocked
          - BlockedRequiresOperatorAction
          - ManuallyBypassed
          type:
          - 'null'
          - string
          description: Summarizes an organization's overall progress from initial Leadping onboarding through launch readiness.
        tenDlcStatus:
          enum:
          - NotStarted
          - DraftGenerated
          - DraftIncomplete
          - ReadyToSubmit
          - Submitted
          - PendingTelnyxReview
          - Approved
          - Rejected
          - NeedsChanges
          - ResubmissionReady
          - Failed
          type:
          - 'null'
          - string
          description: Describes an organization's overall 10DLC registration lifecycle across brand and messaging campaign submission.
        needsAdminReview:
          type: boolean
          description: Whether needs admin review applies to this organization switch option.
        activationSummary:
          type:
          - 'null'
          - string
          description: Activation summary for this organization switch option.
        hasPaymentMethod:
          type: boolean
          description: Whether the organization has a default billing payment method.
        readyForCustomerTraffic:
          type: boolean
          description: Whether ready for customer traffic applies to this organization switch option.
      description: Describes organization switch option data used in Leadping API requests and responses.
    OrganizationMemberResponse:
      type: object
      properties:
        organization:
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Organization for this organization user.
        user:
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User for this organization user.
        userEmail:
          type:
          - 'null'
          - string
          description: User email for this organization user.
          format: email
        role:
          allOf:
          - $ref: '#/components/schemas/OrganizationMemberRole'
          description: Role for this organization user.
        createdByUserId:
          type:
          - 'null'
          - string
          description: The created by user ID associated with this organization user.
        removedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for removed at on this organization user.
          format: date-time
        removedByUserId:
          type:
          - 'null'
          - string
          description: The removed by user ID associated with this organization user.
        lastUsedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for last used at on this organization user.
          format: date-time
        licenseBillingStatus:
          type:
          - 'null'
          - string
          description: The billing status for this user's organization license.
        licenseQuantity:
          type:
          - 'null'
          - integer
          description: The quantity on the shared organization user license item after this change.
          format: int64
        licenseRenewalDate:
          type:
          - 'null'
          - string
          description: The renewal date used for this user's license proration.
          format: date-time
        name:
          type: string
          description: Human-readable display name of the resource.
        id:
          type: string
          description: Stable unique identifier of the resource.
        createdAt:
          type: string
          description: UTC timestamp when the resource was created.
          format: date-time
        modifiedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when the resource was last modified, or null when it has not been updated.
          format: date-time
      description: Describes organization user data returned by Leadping.
    OrganizationInvitationResponse:
      type: object
      properties:
        safeMessage:
          type:
          - 'null'
          - string
          description: Safe message for this organization invitation.
        id:
          type: string
          description: Unique Leadping identifier for this organization invitation.
        organization:
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Identifier and display name of the related organization.
        email:
          type: string
          description: The email address associated with this organization invitation.
          format: email
        role:
          allOf:
          - $ref: '#/components/schemas/OrganizationMemberRole'
          description: Role for this organization invitation.
        status:
          allOf:
          - $ref: '#/components/schemas/OrganizationInvitationStatus'
          description: The current status for this organization invitation.
        createdAt:
          type: string
          description: UTC timestamp for created at on this organization invitation.
          format: date-time
        expiresAt:
          type: string
          description: UTC timestamp for expires at on this organization invitation.
          format: date-time
        sentAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for sent at on this organization invitation.
          format: date-time
        resentAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for resent at on this organization invitation.
          format: date-time
        acceptedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for accepted at on this organization invitation.
          format: date-time
        revokedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for revoked at on this organization invitation.
          format: date-time
        sendFailureReason:
          type:
          - 'null'
          - string
          description: The human-readable send failure reason explaining this organization invitation.
        licenseBillingStatus:
          type:
          - 'null'
          - string
          description: The billing status for the paid license created by this invitation.
        licenseQuantity:
          type:
          - 'null'
          - integer
          description: The quantity on the shared organization user license subscription item after this change.
          format: int64
        licenseRenewalDate:
          type:
          - 'null'
          - string
          description: The renewal date used for proration of this license.
          format: date-time
        licenseActivatedAt:
          type:
          - 'null'
          - string
          description: The date and time this invitation's paid license was created.
          format: date-time
        licenseReleasedAt:
          type:
          - 'null'
          - string
          description: The date and time this invitation's paid license was released.
          format: date-time
      description: Describes organization invitation data returned by Leadping.
    OrderByOption:
      type: object
      properties:
        field:
          type: string
          description: Serializable field name used for sorting; supported names are determined by the queried resource.
        direction:
          enum:
          - asc
          - desc
          type:
          - 'null'
          - string
          description: Identifies whether query results are ordered from lower to higher values or from higher to lower values.
      description: Defines one field and direction used to order an API query result set.
    WebsiteLifecycleStatus:
      enum:
      - NotStarted
      - DomainSuggestionsPending
      - DomainSelectionPending
      - DomainPurchasePending
      - DomainPurchased
      - WebsiteGenerationQueued
      - WebsiteGenerating
      - WebsiteDeploymentQueued
      - WebsiteDeploying
      - WebsiteLive
      - WebsiteFailed
      - ManuallyBypassed
      type: string
      description: Describes an organization website's lifecycle from discovery and verification through activation, suspension, or removal.
    OrganizationActivationState:
      type: object
      properties:
        status:
          allOf:
          - $ref: '#/components/schemas/CustomerActivationStatus'
          description: The current status for this organization activation state.
        onboardingStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationOnboardingStatus'
          description: The current onboarding status for this organization activation state.
        paymentStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationPaymentStatus'
          description: The current payment status for this organization activation state.
        billingSubscriptionStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationSubscriptionStatus'
          description: The current billing subscription status for this organization activation state.
        launchReviewStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationLaunchReviewStatus'
          description: The current launch review status for this organization activation state.
        controlledLaunch:
          type: boolean
          description: Whether controlled launch applies to this organization activation state.
        telephonyStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationTelephonyStatus'
          description: The current telephony status for this organization activation state.
        websiteStatus:
          allOf:
          - $ref: '#/components/schemas/WebsiteLifecycleStatus'
          description: The current website status for this organization activation state.
        tenDlcStatus:
          allOf:
          - $ref: '#/components/schemas/TenDlcApplicationStatus'
          description: The current 10DLC status for this organization activation state.
        tenDlcApplicationId:
          type:
          - 'null'
          - string
          description: Identifier of the first-class 10DLC application entity for this organization.
        customerFacingStatus:
          type: string
          description: The current customer facing status for this organization activation state.
        paymentMethodConfirmedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for payment method confirmed at on this organization activation state.
          format: date-time
        subscriptionPendingAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for subscription pending at on this organization activation state.
          format: date-time
        subscriptionActiveAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for subscription active at on this organization activation state.
          format: date-time
        launchReviewRequestedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for launch review requested at on this organization activation state.
          format: date-time
        launchApprovedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for launch approved at on this organization activation state.
          format: date-time
        telephonyProvisioningStartedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for telephony provisioning started at on this organization activation state.
          format: date-time
        telephonyPartiallyProvisionedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for telephony partially provisioned at on this organization activation state.
          format: date-time
        telephonyReadyAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for telephony ready at on this organization activation state.
          format: date-time
        failedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for failed at on this organization activation state.
          format: date-time
        activatedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for activated at on this organization activation state.
          format: date-time
        industry:
          type:
          - 'null'
          - string
          description: Industry for this organization activation state.
        organizationDescription:
          type:
          - 'null'
          - string
          description: Organization description for this organization activation state.
        targetAudience:
          type:
          - 'null'
          - string
          description: Target audience for this organization activation state.
        offer:
          type:
          - 'null'
          - string
          description: Offer for this organization activation state.
        websiteNeeds:
          type:
          - 'null'
          - string
          description: Website needs for this organization activation state.
        serviceArea:
          type:
          - 'null'
          - string
          description: Service area for this organization activation state.
        complianceNotes:
          type:
          - 'null'
          - string
          description: Compliance notes for this organization activation state.
        domainOptions:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ActivationDomainOption'
            description: Describes activation domain option data used in Leadping API requests and responses.
          description: The domain options included with this organization activation state.
        domainSearchStage:
          enum:
          - Queued
          - AskingOpenAi
          - CheckingCloudflare
          - Ranking
          - Complete
          - Failed
          type:
          - 'null'
          - string
          description: Defines the stages of a domain search.
        domainSearchId:
          type:
          - 'null'
          - string
          description: Identifies the active domain search run.
        domainSearchAttempt:
          type: integer
          description: The current domain generation attempt.
          format: int32
        availableDomainCount:
          type: integer
          description: The number of registrar-verified domains found by the current search.
          format: int32
        domainSearchUpdatedAt:
          type:
          - 'null'
          - string
          description: The last time domain search progress changed.
          format: date-time
        selectedDomain:
          type:
          - 'null'
          - string
          description: Selected domain for this organization activation state.
        domainApprovedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for domain approved at on this organization activation state.
          format: date-time
        domainPurchasedAt:
          type:
          - 'null'
          - string
          description: The date and time the selected domain was purchased.
          format: date-time
        websiteGenerationResult:
          type:
          - 'null'
          - string
          description: The latest persisted website generation progress message.
        websiteUrl:
          type:
          - 'null'
          - string
          description: The URL associated with this organization activation state.
          format: uri
        tenDlcDraft:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/TenDlcApplicationDraft'
          description: 10DLC draft for this organization activation state.
        events:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ActivationTimelineEvent'
            description: Describes activation timeline event data used in Leadping API requests and responses.
          description: The events included with this organization activation state.
        createdAt:
          type: string
          description: UTC timestamp for created at on this organization activation state.
          format: date-time
        updatedAt:
          type: string
          description: UTC timestamp for updated at on this organization activation state.
          format: date-time
      description: Describes organization activation state data used in Leadping API requests and responses.
    OrganizationResponse:
      type: object
      properties:
        secondaryName:
          type:
          - 'null'
          - string
          description: Alternate organization name or DBA shown in Leadping.
        user:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User summary connected to this organization profile response.
        accountBalance:
          type: number
          description: Current wallet balance available to the organization.
          format: double
        billingPlan:
          enum:
          - Annual
          - Monthly
          type:
          - 'null'
          - string
          description: Identifies the Leadping subscription plan that determines organization features, allowances, and billing behavior.
        subscriptionStatus:
          enum:
          - Pending
          - Active
          - Overdue
          - Canceled
          type:
          - 'null'
          - string
          description: Describes an organization's billing subscription lifecycle, including trial, active, delinquent, canceled, and expired states.
        billingState:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/OrganizationBillingState'
          description: Customer-safe billing state for this organization.
        autoRefillEnabled:
          type: boolean
          description: Indicates whether automatic wallet refill is enabled for the organization.
        autoRefillAmount:
          type:
          - 'null'
          - number
          description: Wallet refill amount charged when automatic refill is triggered.
          format: double
        autoRefillTrigger:
          type:
          - 'null'
          - number
          description: Wallet balance threshold that triggers automatic refill.
          format: double
        status:
          enum:
          - SettingUp
          - SetupCompleted
          - Active
          type:
          - 'null'
          - string
          description: Describes an organization's account lifecycle and whether it can actively use Leadping services.
        setupStatus:
          enum:
          - Personal
          - Organization
          - Details
          - Compliance
          - Phone
          - Plan
          - Billing
          - Review
          - Complete
          type:
          - 'null'
          - string
          description: Describes a user's progress through required Leadping profile and account setup tasks.
        enabled:
          type: boolean
          description: Indicates whether this organization profile response is active and available in the Leadping API.
        phone:
          type:
          - 'null'
          - string
          description: Phone details for the lead, user, or organization represented by this organization profile response.
        website:
          type:
          - 'null'
          - string
          description: Organization website URL used for compliance, brand review, and lead attribution.
        address:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/StreetAddress'
          description: Postal address for the organization, lead, or contact represented by this organization profile response.
        billingName:
          type:
          - 'null'
          - string
          description: Name used for invoices, receipts, and payment processor billing records.
        billingAddress:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/StreetAddress'
          description: Postal address used for invoices, receipts, and payment processor billing records.
        billingTaxId:
          type:
          - 'null'
          - string
          description: Tax identifier printed on billing documents. This may differ from the organization verification EIN.
        vertical:
          type:
          - 'null'
          - string
          description: Industry vertical used for lead routing, compliance review, and reporting.
        description:
          type:
          - 'null'
          - string
          description: Human-readable description that explains this organization profile response to API users.
        ein:
          type:
          - 'null'
          - string
          description: Employer Identification Number used for organization and 10DLC verification.
        einDocument:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNameValue'
          description: Uploaded EIN document reference used for organization verification.
        domain:
          type:
          - 'null'
          - string
          description: Domain name connected to the organization website or activation workflow.
        phones:
          type:
          - 'null'
          - array
          items:
            allOf:
            - $ref: '#/components/schemas/IdNameValue'
            description: Extends an identifier-and-name resource reference with an optional string value used for display or selection metadata.
          description: Phone numbers assigned to this organization.
        site:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Leadping website record connected to this organization.
        setupStep:
          enum:
          - DomainFinding
          - DomainOptionsFound
          - SiteGenerating
          - SiteGenerated
          - BrandSubmitted
          - BrandApproved
          - CampaignSubmitted
          - CampaignApproved
          - CarrierReviewing
          - TenDlcComplete
          - Complete
          type:
          - 'null'
          - string
          description: Identifies a discrete billing, telephony, compliance, or configuration stage in organization provisioning.
        activation:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/OrganizationActivationState'
          description: Organization activation state covering site, billing, compliance, and telephony readiness.
        compliancePolicy:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/OrganizationCompliancePolicy'
          description: Compliance policy configuration for the organization.
        name:
          type: string
          description: Human-readable display name of the resource.
        id:
          type: string
          description: Stable unique identifier of the resource.
        createdAt:
          type: string
          description: UTC timestamp when the resource was created.
          format: date-time
        modifiedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when the resource was last modified, or null when it has not been updated.
          format: date-time
      description: Describes organization profile data returned by Leadping.
    OrganizationBillingState:
      type: object
      properties:
        hasStripeCustomer:
          type: boolean
          description: Indicates whether the organization has a Stripe customer account.
        hasPaymentMethod:
          type: boolean
          description: Indicates whether the organization has a saved default payment method.
        phoneNumberQuantity:
          type:
          - 'null'
          - integer
          description: Number of phone numbers included in the organization's subscription plan.
          format: int64
        organizationMemberQuantity:
          type:
          - 'null'
          - integer
          description: Number of user licenses included in the organization's subscription plan.
          format: int64
        organizationMemberAssignedQuantity:
          type:
          - 'null'
          - integer
          description: Number of user licenses currently assigned to organization members.
          format: int64
        pendingBillingPlan:
          enum:
          - Annual
          - Monthly
          type:
          - 'null'
          - string
          description: Identifies the Leadping subscription plan that determines organization features, allowances, and billing behavior.
        billingPlanChangeEffectiveAt:
          type:
          - 'null'
          - string
          description: Date and time when the scheduled billing plan change takes effect.
          format: date-time
        planRenewalAt:
          type:
          - 'null'
          - string
          description: Current plan renewal date.
          format: date-time
        planPeriodStartAt:
          type:
          - 'null'
          - string
          description: Start of the current plan billing period.
          format: date-time
        cancelAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when the active subscription is scheduled to cancel.
          format: date-time
        dunning:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/OrganizationDunningInfo'
          description: Customer-safe payment recovery state for the organization.
        lastSubscriptionEventAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when Leadping last processed a subscription event for the organization.
          format: date-time
        lastPaymentMethodEventAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when Leadping last processed a payment-method event for the organization.
          format: date-time
      description: Customer-safe billing state for a Leadping organization.
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
          description: URI reference that identifies the problem type.
        title:
          type:
          - 'null'
          - string
          description: Short, human-readable summary of the problem.
        status:
          type:
          - 'null'
          - integer
          description: HTTP status code returned for the problem.
          format: int32
        detail:
          type:
          - 'null'
          - string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - 'null'
          - string
          description: URI reference that identifies this specific occurrence of the problem.
      description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      example:
        type: https://leadping.ai/docs/errors/validation
        title: Request validation failed
        status: 400
        detail: One or more request fields are invalid.
        instance: /leads/intake
    IdNamePair:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
          description: Stable unique identifier of the referenced resource.
        name:
          type: string
          description: Human-readable display name of the referenced resource.
      description: Provides a compact API reference to another resource using its stable identifier and human-readable display name.
    OrganizationMemberRole:
      enum:
      - Owner
      - Admin
      - Agent
      type: string
      description: Identifies an organization member's access level and permission scope within Leadping.
    ActivationTelephonyStatus:
      enum:
      - NotStarted
      - ProvisioningPending
      - PartiallyProvisioned
      - Ready
      - Failed
      - BlockedRequiresOperatorAction
      type: string
      description: Describes whether phone numbers, calling, messaging, and provider resources are ready for organization launch.
[...]
