openapi: 3.2.0
info:
  title: Leadping Organizations API
  version: v1
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: https://leadping.ai/docs/terms-of-service
  description: 'Operations tagged Organizations across 2 of this provider''s published API definitions: leadping-openapi.json, leadping-organizations-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: Organizations
  description: Manages Leadping organizations, memberships, invitations, settings, and API credentials. Use these endpoints to maintain organization profiles and branding, manage members and invitations, configure options, and issue or revoke organization API keys.
paths:
  /organizations/me:
    get:
      tags:
      - Organizations
      summary: Get current organization account profile
      description: Returns the authenticated user's current organization profile, including account settings, billing context, and communication configuration.
      operationId: Organizations_GetForCurrentUser
      responses:
        '200':
          description: Organization was successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '404':
          description: The specified organization was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
    post:
      tags:
      - Organizations
      summary: Create an organization account
      description: Creates an organization account for the authenticated user, assigns them as its owner, and makes it their active organization context.
      operationId: Organizations_CreateForCurrentUser
      requestBody:
        description: The organization profile, contact, and initial setup details to create.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    put:
      tags:
      - Organizations
      summary: Update current organization account profile
      description: Updates the authenticated user's current organization profile, including contact, settings, and communication configuration.
      operationId: Organizations_UpdateForCurrentUser
      requestBody:
        description: The updated organization profile data.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationRequest'
              description: Defines the fields clients can send when working with organization profile.
        required: true
      responses:
        '200':
          description: Returns the organization response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/options:
    get:
      tags:
      - Organizations
      summary: List organization switch options
      description: Lists organizations the authenticated user can switch into, including membership role and current-organization selection data.
      operationId: Organizations_GetSwitchOptions
      responses:
        '200':
          description: Returns the list of organization switch option.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/OrganizationSwitchOption'
                  description: Describes organization switch option data used in Leadping API requests and responses.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/switch:
    post:
      tags:
      - Organizations
      summary: Switch current organization account context
      description: Switches the authenticated user's active organization context so subsequent lead, billing, and communication requests target that organization.
      operationId: Organizations_SwitchCurrentOrganization
      requestBody:
        description: The selected organization identifier.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationSwitchRequest'
              description: Defines the fields clients can send when working with organization switch.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationSwitchRequest'
              description: Defines the fields clients can send when working with organization switch.
        required: true
      responses:
        '200':
          description: Returns the organization response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/members:
    get:
      tags:
      - Organizations
      summary: List users for the current organization
      description: Lists users assigned to the current organization, including roles and membership details for access management.
      operationId: Organizations_GetCurrentOrganizationMembers
      responses:
        '200':
          description: Returns the list of organization member table row.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/OrganizationMemberTableRow'
                  description: Describes organization user data used in Leadping API requests and responses.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
    post:
      tags:
      - Organizations
      summary: Add a user to the current organization account
      description: Adds an existing user to the current organization with the requested role for shared lead communication and account access.
      operationId: Organizations_AddCurrentOrganizationMember
      requestBody:
        description: The user and role to add to the current organization.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
        required: true
      responses:
        '200':
          description: Returns the organization member response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationMemberResponse'
                description: Describes organization user data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/members/{userId}:
    put:
      tags:
      - Organizations
      summary: Change a current-organization user role
      description: Changes a user's role in the current organization, updating access to lead, automation, billing, and admin workflows.
      operationId: Organizations_ChangeCurrentOrganizationMemberRole
      parameters:
      - name: userId
        in: path
        description: The ID of the user whose current-organization role is changing.
        required: true
        schema:
          type: string
      requestBody:
        description: The updated role assignment.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationMemberRequest'
              description: Defines the fields clients can send when working with organization user.
        required: true
      responses:
        '200':
          description: Returns the organization member response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationMemberResponse'
                description: Describes organization user data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    delete:
      tags:
      - Organizations
      summary: Remove a user from the current organization
      description: Removes a user from the current organization, revoking their access to its leads, settings, billing, and communication data.
      operationId: Organizations_RemoveCurrentOrganizationMember
      parameters:
      - name: userId
        in: path
        description: The ID of the user to remove from the current organization.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content is returned when the operation succeeds.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The authenticated user is not authorized for this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - safety-critical
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/membership:
    delete:
      tags:
      - Organizations
      summary: Leave the current organization without changing its subscription or deleting…
      description: Removes the authenticated user's membership from the current organization while preserving the organization and its billing state.
      operationId: Organizations_LeaveCurrentOrganization
      responses:
        '204':
          description: No Content
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - safety-critical
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/invitations:
    get:
      tags:
      - Organizations
      summary: List invitations for the current organization
      description: Lists pending and historical invitations for the current organization, including recipient, role, status, and expiration.
      operationId: Organizations_GetCurrentOrganizationInvitations
      responses:
        '200':
          description: Returns the list of organization invitation table row.
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                  - $ref: '#/components/schemas/OrganizationInvitationTableRow'
                  description: Describes organization invitation data used in Leadping API requests and responses.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
    post:
      tags:
      - Organizations
      summary: Create a current-organization user invitation
      description: Creates an invitation for the current organization so another user can join with the requested role and account access.
      operationId: Organizations_CreateCurrentOrganizationInvitation
      requestBody:
        description: The invitation recipient and requested role.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationInvitationRequest'
              description: Defines the input used for organization invitation.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationInvitationRequest'
              description: Defines the input used for organization invitation.
        required: true
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/invitations/{invitationId}/resend:
    post:
      tags:
      - Organizations
      summary: Resend a current-organization user invitation
      description: Resends a pending current-organization invitation, refreshing delivery while preserving recipient, role, and acceptance token.
      operationId: Organizations_ResendCurrentOrganizationInvitation
      parameters:
      - name: invitationId
        in: path
        description: The ID of the current-organization invitation to resend.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            text/plain:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
            text/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/invitations/{invitationId}:
    delete:
      tags:
      - Organizations
      summary: Revoke a current-organization user invitation
      description: Revokes a pending current-organization invitation so the recipient can no longer use it to join the organization.
      operationId: Organizations_RevokeCurrentOrganizationInvitation
      parameters:
      - name: invitationId
        in: path
        description: The ID of the current-organization invitation to revoke.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No content is returned when the operation succeeds.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - safety-critical
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/me/10dlc/notes:
    put:
      tags:
      - Organizations
      summary: Update organization 10DLC notes
      description: Updates the shared 10DLC registration notes for the current organization, keeping carrier review context and messaging compliance details current.
      operationId: Organizations_UpdateCurrentOrganizationTenDlcNotes
      requestBody:
        description: The replacement 10DLC registration and carrier-review notes.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TenDlcNotesRequest'
              description: Updates the internal notes associated with a 10DLC application.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/TenDlcNotesRequest'
              description: Updates the internal notes associated with a 10DLC application.
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationResponse'
                description: Describes organization profile data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/api-keys/my:
    post:
      tags:
      - Organizations
      summary: List current-organization API keys
      description: The operation enforces organization ownership or platform-admin authorization and returns state suitable for membership, billing, and support workflows.
      operationId: Organizations_GetAllApiKeysForCurrentUser
      requestBody:
        description: Pagination, filtering, and sorting options.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
        required: true
      responses:
        '200':
          description: Current-organization API keys were successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationApiKeyListResponse'
                description: A page of safe organization API-key previews.
        '400':
          description: The request was invalid or malformed.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/api-keys/{id}:
    get:
      tags:
      - Organizations
      summary: Gets a safe API key detail row for a key the caller can access
      description: The operation enforces organization ownership or platform-admin authorization and returns state suitable for membership, billing, and support workflows.
      operationId: Organizations_GetApiKey
      parameters:
      - name: id
        in: path
        description: The API key ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The API key detail was successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationApiKeyPreviewResponse'
                description: Safe identifying and usage metadata for an organization API key. This model never contains the secret credential.
        '404':
          description: The API key was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
    post:
      tags:
      - Organizations
      summary: Creates an organization-owned API key
      description: The operation enforces organization ownership or platform-admin authorization and returns state suitable for membership, billing, and support workflows.
      operationId: Organizations_IssueApiKey
      parameters:
      - name: id
        in: path
        description: The organization ID that will own the API key.
        required: true
        schema:
          type: string
      requestBody:
        description: The key expiration selection. Null expiration means no limit.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationApiKeyRequest'
              description: Defines the display name and access configuration for a new Leadping organization API key.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/OrganizationApiKeyRequest'
              description: Defines the display name and access configuration for a new Leadping organization API key.
        required: true
      responses:
        '200':
          description: The API key was created successfully.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationApiKeyIssueResponse'
                description: Returns a newly issued organization API key and its identifying metadata; the secret credential is shown only in this response.
        '400':
          description: The request was invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The caller cannot manage this organization API key.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    delete:
      tags:
      - Organizations
      summary: Deletes an organization-owned API key without deleting the organization
      description: The operation enforces organization ownership or platform-admin authorization and returns state suitable for membership, billing, and support workflows.
      operationId: Organizations_DeleteApiKey
      parameters:
      - name: id
        in: path
        description: The API key ID to revoke.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The API key was successfully revoked.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationApiKeyRevokeResponse'
                description: Confirms that an organization API key was revoked.
        '404':
          description: The API key was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - safety-critical
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    servers:
    - url: https://api.leadping.ai
      description: Production
  /organizations/invitations/token/{token}:
    servers:
    - url: https://api.leadping.ai
      description: Production
    get:
      tags:
      - Organizations
      summary: Get an organization user invitation by token
      description: Returns an organization invitation by acceptance token, including organization, recipient, role, and expiration details.
      operationId: Organizations_GetInvitationByToken
      parameters:
      - name: token
        in: path
        description: The invitation acceptance token.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '404':
          description: The requested resource was not found.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails_2'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails_2'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security: []
  /organizations/invitations/accept:
    servers:
    - url: https://api.leadping.ai
      description: Production
    post:
      tags:
      - Organizations
      summary: Accept organization invitation
      description: Accepts an organization invitation for the signed-in user, creating membership and setting organization access context.
      operationId: Organizations_AcceptInvitation
      requestBody:
        description: The invitation token and accepting user details.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AcceptOrganizationInvitationRequest'
              description: Defines the input used for accept organization invitation.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/AcceptOrganizationInvitationRequest'
              description: Defines the input used for accept organization invitation.
        required: true
      responses:
        '200':
          description: Returns the organization invitation response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/OrganizationInvitationResponse'
                description: Describes organization invitation data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails_2'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails_2'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security: []
components:
  schemas:
    IdNamePair:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      description: User summary connected to this automation configuration response.
    OrganizationActivationState:
      type: object
      properties:
        status:
          allOf:
          - $ref: '#/components/schemas/CustomerActivationStatus'
          description: The current status for this organization activation state.
        onboardingStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationOnboardingStatus'
          description: The current onboarding status for this organization activation state.
        paymentStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationPaymentStatus'
          description: The current payment status for this organization activation state.
        billingSubscriptionStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationSubscriptionStatus'
          description: The current billing subscription status for this organization activation state.
        launchReviewStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationLaunchReviewStatus'
          description: The current launch review status for this organization activation state.
        controlledLaunch:
          type: boolean
          description: Whether controlled launch applies to this organization activation state.
        telephonyStatus:
          allOf:
          - $ref: '#/components/schemas/ActivationTelephonyStatus'
          description: The current telephony status for this organization activation state.
        websiteStatus:
          allOf:
          - $ref: '#/components/schemas/WebsiteLifecycleStatus'
          description: The current website status for this organization activation state.
        tenDlcStatus:
          allOf:
          - $ref: '#/components/schemas/TenDlcApplicationStatus'
          description: The current 10DLC status for this organization activation state.
        tenDlcApplicationId:
          type:
          - 'null'
          - string
          description: Identifier of the first-class 10DLC application entity for this organization.
        customerFacingStatus:
          type: string
          description: The current customer facing status for this organization activation state.
        paymentMethodConfirmedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for payment method confirmed at on this organization activation state.
          format: date-time
        subscriptionPendingAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for subscription pending at on this organization activation state.
          format: date-time
        subscriptionActiveAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for subscription active at on this organization activation state.
          format: date-time
        launchReviewRequestedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for launch review requested at on this organization activation state.
          format: date-time
        launchApprovedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for launch approved at on this organization activation state.
          format: date-time
        telephonyProvisioningStartedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for telephony provisioning started at on this organization activation state.
          format: date-time
        telephonyPartiallyProvisionedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for telephony partially provisioned at on this organization activation state.
          format: date-time
        telephonyReadyAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for telephony ready at on this organization activation state.
          format: date-time
        failedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for failed at on this organization activation state.
          format: date-time
        activatedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for activated at on this organization activation state.
          format: date-time
        industry:
          type:
          - 'null'
          - string
          description: Industry for this organization activation state.
        organizationDescription:
          type:
          - 'null'
          - string
          description: Organization description for this organization activation state.
        targetAudience:
          type:
          - 'null'
          - string
          description: Target audience for this organization activation state.
        offer:
          type:
          - 'null'
          - string
          description: Offer for this organization activation state.
        websiteNeeds:
          type:
          - 'null'
          - string
          description: Website needs for this organization activation state.
        serviceArea:
          type:
          - 'null'
          - string
          description: Service area for this organization activation state.
        complianceNotes:
          type:
          - 'null'
          - string
          description: Compliance notes for this organization activation state.
        domainOptions:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ActivationDomainOption'
            description: Describes activation domain option data used in Leadping API requests and responses.
          description: The domain options included with this organization activation state.
        domainSearchStage:
          enum:
          - Queued
          - AskingOpenAi
          - CheckingCloudflare
          - Ranking
          - Complete
          - Failed
          type:
          - 'null'
          - string
          description: Defines the stages of a domain search.
        domainSearchId:
          type:
          - 'null'
          - string
          description: Identifies the active domain search run.
        domainSearchAttempt:
          type: integer
          description: The current domain generation attempt.
          format: int32
        availableDomainCount:
          type: integer
          description: The number of registrar-verified domains found by the current search.
          format: int32
        domainSearchUpdatedAt:
          type:
          - 'null'
          - string
          description: The last time domain search progress changed.
          format: date-time
        selectedDomain:
          type:
          - 'null'
          - string
          description: Selected domain for this organization activation state.
        domainApprovedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for domain approved at on this organization activation state.
          format: date-time
        domainPurchasedAt:
          type:
          - 'null'
          - string
          description: The date and time the selected domain was purchased.
          format: date-time
        websiteGenerationResult:
          type:
          - 'null'
          - string
          description: The latest persisted website generation progress message.
        websiteUrl:
          type:
          - 'null'
          - string
          description: The URL associated with this organization activation state.
          format: uri
        tenDlcDraft:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/TenDlcApplicationDraft'
          description: 10DLC draft for this organization activation state.
        events:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ActivationTimelineEvent'
            description: Describes activation timeline event data used in Leadping API requests and responses.
          description: The events included with this organization activation state.
        createdAt:
          type: string
          description: UTC timestamp for created at on this organization activation state.
          format: date-time
        updatedAt:
          type: string
          description: UTC timestamp for updated at on this organization activation state.
          format: date-time
      description: Describes organization activation state data used in Leadping API requests and responses.
    OrganizationMemberRequest:
      type: object
      properties:
        userId:
          type:
          - 'null'
          - string
          description: User ID to add, update, or remove from the organization.
        email:
          type:
          - 'null'
          - string
          description: Email address for the person represented by this organization user request.
          format: email
        role:
          allOf:
          - $ref: '#/components/schemas/OrganizationMemberRole'
          description: Organization role assigned to the user.
      description: Defines the fields clients can send when working with organization user.
    TenDlcApplicationStatus:
      enum:
      - NotStarted
      - DraftGenerated
      - DraftIncomplete
      - ReadyToSubmit
      - Submitted
      - PendingTelnyxReview
      - Approved
      - Rejected
      - NeedsChanges
      - ResubmissionReady
      - Failed
      type: string
      description: Describes an organization's overall 10DLC registration lifecycle across brand and messaging campaign submission.
    OrganizationApiKeyRequest:
      type: object
      properties:
        name:
          type:
          - 'null'
          - string
          description: Human-readable name used to identify the key.
        expiresInDays:
          type:
          - 'null'
          - integer
          description: Number of days before the key expires. Null means no expiration.
          format: int32
        permissions:
          type:
          - 'null'
          - array
          items:
            type: string
          description: WorkOS permission slugs granted to the API key.
      description: Defines the display name and access configuration for a new Leadping organization API key.
    OrganizationRequest:
      type: object
      properties:
        name:
          type:
          - 'null'
          - string
          description: Primary organization name.
        secondaryName:
          type:
          - 'null'
          - string
          description: Alternate organization name or DBA shown in Leadping.
        phone:
          type:
          - 'null'
          - string
          description: Phone details for the lead, user, or organization represented by this organization profile request.
        address:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/StreetAddress'
          description: Postal address for the organization, lead, or contact represented by this organization profile request.
        website:
          type:
          - 'null'
          - string
          description: Organization website URL used for compliance, brand review, and lead attribution.
        vertical:
          type:
          - 'null'
          - string
          description: Industry vertical used for lead routing, compliance review, and reporting.
        description:
          type:
          - 'null'
          - string
          description: Human-readable description that explains this organization profile request to API users.
        ein:
          type:
          - 'null'
          - string
          description: Employer Identification Number used for organization and 10DLC verification.
        isYoungerThan90:
          type:
          - 'null'
          - boolean
          description: Whether the organization was formed less than 90 days ago.
      description: Defines the fields clients can send when working with organization profile.
    OrganizationApiKeyIssueResponse:
      type: object
      properties:
        secret:
          type: string
          description: Secret token returned once when the Leadping API key is issued.
        expiresAt:
          type:
          - 'null'
          - string
          description: Date and time when the organization API key issue expires.
          format: date-time
        apiKey:
          allOf:
          - $ref: '#/components/schemas/OrganizationApiKeyPreviewResponse'
          description: API key associated with this Leadping organization API key issue.
      description: Returns a newly issued organization API key and its identifying metadata; the secret credential is shown only in this response.
    OrganizationSwitchRequest:
      required:
      - organizationId
      type: object
      properties:
        organizationId:
          type: string
          description: Organization ID to switch into for the current Leadping session.
      description: Defines the fields clients can send when working with organization switch.
    OrganizationCompliancePolicy:
      type: object
      properties:
        enabled:
          type: boolean
          description: Whether this organization compliance policy is enabled.
        allowedStates:
          type: array
          items:
            type: string
          description: The allowed states included with this organization compliance policy.
        allowedProducts:
          type: array
          items:
            type: string
          description: The allowed products included with this organization compliance policy.
        requireLeadState:
          type: boolean
          description: Whether this organization compliance policy requires lead state.
        requireAgentLicenseState:
          type: boolean
          description: Whether this organization compliance policy requires agent license state.
        requireProduct:
          type: boolean
          description: Whether this organization compliance policy requires product.
        requireTrustedFormForAutomations:
          type: boolean
          description: Whether this organization compliance policy requires TrustedForm for automations.
        requireSourceComplianceApproval:
          type: boolean
          description: Whether this organization compliance policy requires source compliance approval.
      description: Describes organization compliance policy data used in Leadping API requests and responses.
    RequestDataOptions:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
        orderBy:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/OrderByOption'
        includeCount:
          type:
          - 'null'
          - boolean
        search:
          type:
          - 'null'
          - string
        searchFields:
          type:
          - 'null'
          - array
          items:
            type: string
        filters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/ExactMatchFilter'
        rangeFilters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/RangeFilter'
    OrganizationApiKeyPreviewResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier of the API key.
        name:
          type: string
          description: Human-readable name of the API key.
        organization:
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Organization that owns the API key.
        enabled:
          type: boolean
          description: Whether the API key can currently authenticate requests.
        preview:
          type:
          - 'null'
          - string
          description: Masked value that can be used to identify the key without revealing its secret.
        permissions:
          type:
          - 'null'
          - array
          items:
            type: string
          description: Permission slugs granted to the API key.
        issuedAt:
          type:
          - 'null'
          - string
          description: Date and time when the API key was issued.
          format: date-time
        firstUsedAt:
          type:
          - 'null'
          - string
          description: Date and time when the API key was first used.
          format: date-time
        lastUsedAt:
          type:
          - 'null'
          - string
          description: Date and time when the API key was last used.
          format: date-time
        expiresAt:
          type:
          - 'null'
          - string
          description: Date and time when the API key expires, or null when it does not expire.
          format: date-time
        totalUses:
          type: integer
          description: Total number of tracked uses.
          format: int64
        createdAt:
          type: string
          description: Date and time when Leadping began tracking the API key.
          format: date-time
        modifiedAt:
          type: string
          description: Date and time when the tracked API-key metadata was last modified.
          format: date-time
      description: Safe identifying and usage metadata for an organization API key. This model never contains the secret credential.
    ActivationSubscriptionStatus:
      enum:
      - Pending
      - Active
      - Failed
      - Canceled
      type: string
      description: Describes whether an organization's subscription is ready, blocked, or still incomplete during activation.
    IdNameValue:
      required:
      - id
      - name
      type: object
      properties:
        value:
          type:
          - 'null'
          - string
        id:
          type: string
        name:
          type: string
      description: Phone number used by this conversation response for calls, SMS, lookup, or routing.
    ExactMatchFilter:
      required:
      - field
      type: object
      properties:
        value: {}
        field:
          type: string
    OrganizationDunningInfo:
      type: object
      properties:
        stage:
          type:
          - 'null'
          - string
          description: Current stage for this Leadping organization dunning info.
        paymentFailedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was payment failed.
          format: date-time
        lastFailedInvoiceStatus:
          type:
          - 'null'
          - string
          description: Current last failed invoice status for this Leadping organization dunning info.
        retryAttemptCount:
          type: integer
          description: Total number of retry attempt records represented by this Leadping organization dunning info.
          format: int32
        nextRetryAt:
          type:
          - 'null'
          - string
          description: Date and time when the next retry is scheduled.
          format: date-time
        gracePeriodEndsAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was grace period ends.
          format: date-time
        outboundRestrictedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was outbound restricted.
          format: date-time
        outboundSuspendedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was outbound suspended.
          format: date-time
        finalCancellationAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was final cancellation.
          format: date-time
        lastUpdatedAt:
          type:
          - 'null'
          - string
          description: Date and time when this Leadping organization dunning info was last updated.
          format: date-time
      description: Dunning state recorded after a failed recurring payment.
    OrganizationMemberResponse:
      type: object
      properties:
        organization:
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Organization for this organization user.
        user:
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User for this organization user.
        userEmail:
          type:
          - 'null'
          - string
          description: User email for this organization user.
          format: email
        role:
          allOf:
          - $ref: '#/components/schemas/OrganizationMemberRole'
          description: Role for this organization user.
        createdByUserId:
          type:
          - 'null'
          - string
          description: The created by user ID associated with this organization user.
        removedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for removed at on this organization user.
          format: date-time
        removedByUserId:
          type:
          - 'null'
          - string
          description: The removed by user ID associated with this organization user.
        lastUsedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for last used at on this organization user.
          format: date-time
        licenseBillingStatus:
          type:
          - 'null'
          - string
          description: The billing status for this user's organization license.
        licenseQuantity:
          type:
          - 'null'
          - integer
          description: The quantity on the shared organization user license item after this change.
          format: int64
        licenseRenewalDate:
          type:
          - 'null'
          - string
          description: The renewal date used for this user's license proration.
          format: date-time
        name:
[...]
