openapi: 3.2.0
info:
  title: Leadping Notifications API
  description: The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.
  termsOfService: https://leadping.ai/docs/terms-of-service
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
  summary: Lead management, messaging, calling, and automation API
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: Notifications
  description: Manages user notifications, announcements, and push-notification installations. Use these endpoints to retrieve notification feeds and unread counts, update read state, and register or remove client push installations.
paths:
  /notifications/{id}:
    get:
      tags:
      - Notifications
      summary: Get a current-user notification
      description: Returns one notification for the current user and organization, including its content, read state, delivery context, and relevant account activity.
      operationId: Notifications_GetForCurrentUser
      parameters:
      - name: id
        in: path
        description: The notification ID.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/NotificationResponse'
                description: Describes notification data used in Leadping API requests and responses.
        '404':
          description: The requested resource was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
  /notifications/me:
    post:
      tags:
      - Notifications
      summary: List notifications for current user
      description: Lists current-user notifications with paging, sorting, and filters for operational alerts, announcements, and follow-up updates.
      operationId: Notifications_GetAllForCurrentUser
      parameters:
      - name: startAt
        in: query
        description: Inclusive beginning of the created date range.
        schema:
          type: string
          format: date-time
      - name: endAt
        in: query
        description: Exclusive end of the created date range.
        schema:
          type: string
          format: date-time
      requestBody:
        description: Request data options for pagination, filtering, and sorting.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
        required: true
      responses:
        '200':
          description: Returns the paged notification table row.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfNotificationTableRow'
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '500':
          description: An unexpected server error occurred.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Internal Server Error
                status: 500
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /notifications/unread-count:
    get:
      tags:
      - Notifications
      summary: Get unread notifications for current user
      description: Returns the current user's unread notification count for badge updates and notification center state.
      operationId: Notifications_GetUnreadCount
      responses:
        '200':
          description: Returns the int.
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '500':
          description: An unexpected server error occurred.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Internal Server Error
                status: 500
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
  /notifications/{id}/mark-read:
    post:
      tags:
      - Notifications
      summary: Mark a current-user notification as read
      description: Marks one current-user notification as read so it no longer contributes to unread counts or active notification lists.
      operationId: Notifications_MarkAsRead
      parameters:
      - name: id
        in: path
        description: The ID of the notification to mark as read.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the bool.
          content:
            application/json:
              schema:
                type: boolean
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '404':
          description: The requested resource was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '500':
          description: An unexpected server error occurred.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Internal Server Error
                status: 500
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /notifications/mark-all-read:
    post:
      tags:
      - Notifications
      summary: Mark all current-user notifications as read
      description: Marks all notifications for the current user as read and returns the number updated for notification center refreshes.
      operationId: Notifications_MarkAllAsRead
      responses:
        '200':
          description: Returns the int.
          content:
            application/json:
              schema:
                type: integer
                format: int32
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '500':
          description: An unexpected server error occurred.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Internal Server Error
                status: 500
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /notifications/announcements:
    post:
      tags:
      - Notifications
      summary: List announcements for current user
      description: Lists announcement notifications for the current user with paging and filters for release notes, notices, and operational updates.
      operationId: Notifications_GetAnnouncements
      requestBody:
        description: Request data options for pagination, filtering, and sorting.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
        required: true
      responses:
        '200':
          description: Returns the paged notification table row.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfNotificationTableRow'
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '500':
          description: An unexpected server error occurred.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Internal Server Error
                status: 500
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /notifications/push/installations/current:
    put:
      tags:
      - Notifications
      summary: Register a current-user mobile push installation
      description: Registers or refreshes the authenticated user's mobile push installation so Leadping can deliver account and workflow notifications to the device.
      operationId: Notifications_RegisterPushInstallation
      requestBody:
        description: The application, device, platform, and provider push-channel details to register.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PushInstallationRequest'
              description: Describes a mobile push installation. Identity and Azure tags are derived by the API.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/PushInstallationRequest'
              description: Describes a mobile push installation. Identity and Azure tags are derived by the API.
        required: true
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /notifications/push/installations/{installationId}:
    delete:
      tags:
      - Notifications
      summary: Unregister a current-user mobile push installation
      description: Removes a mobile push installation from the authenticated user's account so Leadping no longer sends notifications to that device.
      operationId: Notifications_UnregisterPushInstallation
      parameters:
      - name: installationId
        in: path
        description: The stable mobile installation identifier to unregister.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - safety-critical
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
components:
  schemas:
    OrderByOption:
      required:
      - field
      type: object
      properties:
        field:
          type: string
        direction:
          enum:
          - asc
          - desc
          type:
          - 'null'
          - string
    NotificationPriority:
      enum:
      - Low
      - Medium
      - High
      - Critical
      type: string
      description: Ranks the urgency and presentation importance of a Leadping user notification.
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
          description: URI reference that identifies the problem type.
        title:
          type:
          - 'null'
          - string
          description: Short, human-readable summary of the problem.
        status:
          type:
          - 'null'
          - integer
          description: HTTP status code returned for the problem.
          format: int32
        detail:
          type:
          - 'null'
          - string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - 'null'
          - string
          description: URI reference that identifies this specific occurrence of the problem.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Validation errors keyed by the JSON request field name. Present for request validation failures.
        traceId:
          type: string
          description: Request trace identifier used to correlate this problem with Leadping diagnostics.
      description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
    ExactMatchFilter:
      required:
      - field
      type: object
      properties:
        value: {}
        field:
          type: string
    NotificationResponse:
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/NotificationType'
          description: The type classification for this notification.
        priority:
          allOf:
          - $ref: '#/components/schemas/NotificationPriority'
          description: Priority for this notification.
        userId:
          type: string
          description: The user ID associated with this notification.
        message:
          type: string
          description: Message for this notification.
        details:
          type:
          - 'null'
          - string
          description: Optional supporting details displayed beneath the notification message.
        readAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for read at on this notification.
          format: date-time
        isRead:
          type: boolean
          description: Whether this notification is read.
        pushEnabled:
          type: boolean
          description: Whether this notification should also be delivered as a device push notification.
        actionUrl:
          type:
          - 'null'
          - string
          description: The URL associated with this notification.
        actionButtonText:
          type:
          - 'null'
          - string
          description: Action button text for this notification.
        relatedEntityId:
          type:
          - 'null'
          - string
          description: The related entity ID associated with this notification.
        relatedEntityType:
          type:
          - 'null'
          - string
          description: The related entity type classification for this notification.
        name:
          type: string
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type:
          - 'null'
          - string
          format: date-time
      description: Describes notification data used in Leadping API requests and responses.
    NotificationTableRow:
      type: object
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/NotificationType'
          description: The type classification for this notification.
        priority:
          allOf:
          - $ref: '#/components/schemas/NotificationPriority'
          description: Priority for this notification.
        message:
          type: string
          description: Message for this notification.
        details:
          type:
          - 'null'
          - string
          description: Optional supporting details displayed beneath the notification message.
        isRead:
          type: boolean
          description: Whether this notification is read.
        readAt:
          type:
          - 'null'
          - string
          description: UTC timestamp for read at on this notification.
          format: date-time
        actionUrl:
          type:
          - 'null'
          - string
          description: The URL associated with this notification.
        actionButtonText:
          type:
          - 'null'
          - string
          description: Action button text for this notification.
        relatedEntityId:
          type:
          - 'null'
          - string
          description: The related entity ID associated with this notification.
        relatedEntityType:
          type:
          - 'null'
          - string
          description: The related entity type classification for this notification.
        name:
          type: string
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type:
          - 'null'
          - string
          format: date-time
      description: Describes notification data returned by Leadping.
    RangeFilter:
      required:
      - field
      type: object
      properties:
        greaterThan: {}
        greaterThanOrEqual: {}
        lessThan: {}
        lessThanOrEqual: {}
        field:
          type: string
    PagedResultOfNotificationTableRow:
      type: object
      properties:
        items:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/NotificationTableRow'
            description: Describes notification data returned by Leadping.
        pageSize:
          type: integer
          format: int32
        totalCount:
          type:
          - 'null'
          - integer
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
    PushInstallationRequest:
      type: object
      properties:
        installationId:
          type: string
          description: The stable installation identifier assigned by the mobile client.
        platform:
          type: string
          description: The Azure Notification Hubs platform name, such as apns or fcmv1.
        pushChannel:
          type: string
          description: The provider-issued push token or channel used to deliver notifications.
        appIdentifier:
          type: string
          description: The application bundle identifier or package name.
        appName:
          type:
          - 'null'
          - string
          description: The human-readable application name reported by the client.
        appVersion:
          type:
          - 'null'
          - string
          description: The semantic application version reported by the client.
        appBuild:
          type:
          - 'null'
          - string
          description: The application build number reported by the client.
        devicePlatform:
          type:
          - 'null'
          - string
          description: The mobile operating-system platform reported by the device.
        deviceVersion:
          type:
          - 'null'
          - string
          description: The mobile operating-system version reported by the device.
        deviceModel:
          type:
          - 'null'
          - string
          description: The device model reported by the client.
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Optional client metadata stored with the push installation.
      description: Describes a mobile push installation. Identity and Azure tags are derived by the API.
    NotificationType:
      enum:
      - General
      - Lead
      - Call
      - Sms
      - Billing
      - System
      - Success
      - Warning
      - Error
      - Info
      - Announcement
      - Activation
      type: string
      description: Identifies the Leadping workflow or account event communicated by a user notification.
    RequestDataOptions:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
        orderBy:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/OrderByOption'
        includeCount:
          type:
          - 'null'
          - boolean
        search:
          type:
          - 'null'
          - string
        searchFields:
          type:
          - 'null'
          - array
          items:
            type: string
        filters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/ExactMatchFilter'
        rangeFilters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/RangeFilter'
  securitySchemes:
    Bearer:
      type: http
      description: Authorization header using the Bearer scheme. Accepted values are Leadping user JWT access tokens and WorkOS organization API keys beginning with sk_.
      scheme: bearer
      bearerFormat: JWT or organization API key
    SourceKey:
      type: http
      description: 'Leadping source key for lead ingestion endpoints only using the Authorization header. Example: "Authorization: Bearer lp_src_...".'
      scheme: bearer
      bearerFormat: Leadping source key
externalDocs:
  description: Leadping API documentation, authentication guide, concepts, and integration guidance.
  url: https://leadping.ai/docs/api-reference
