openapi: 3.2.0
info:
  title: Leadping Sources API
  description: The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.
  termsOfService: https://leadping.ai/docs/terms-of-service
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
  summary: Lead management, messaging, calling, and automation API
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: Sources
  description: Manages lead sources, intake credentials, routing defaults, and attribution. Use these endpoints to create and configure sources, search source records, inspect source activity, rotate intake access, and remove obsolete sources.
paths:
  /sources:
    post:
      tags:
      - Sources
      summary: Create an organization lead intake source
      description: Creates a lead source for the current organization, storing intake credentials and routing context for captured external leads.
      operationId: Sources_Create
      requestBody:
        description: The source data to create.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SourceRequest'
              description: Defines the fields clients can send when working with lead source.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SourceRequest'
              description: Defines the fields clients can send when working with lead source.
        required: true
      responses:
        '201':
          description: Source was successfully created.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SourceCredentialIssueResponse'
                description: Returns a newly issued source credential exactly once.
        '400':
          description: The request was invalid or malformed.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /sources/{id}:
    put:
      tags:
      - Sources
      summary: Update an organization lead intake source
      description: Updates a lead source for the current organization, changing intake settings, credentials, routing context, or active status.
      operationId: Sources_Update
      parameters:
      - name: id
        in: path
        description: The ID of the source to update.
        required: true
        schema:
          type: string
      requestBody:
        description: The updated source data.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SourceRequest'
              description: Defines the fields clients can send when working with lead source.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/SourceRequest'
              description: Defines the fields clients can send when working with lead source.
        required: true
      responses:
        '200':
          description: Source was successfully updated.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SourceResponse'
                description: Describes lead source data returned by Leadping.
        '404':
          description: The specified source was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
    get:
      tags:
      - Sources
      summary: Get an organization lead intake source by ID
      description: Returns one lead source for the current organization, including intake settings, credentials metadata, and routing context.
      operationId: Sources_Get
      parameters:
      - name: id
        in: path
        description: The ID of the source to retrieve.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Source was successfully retrieved.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SourceResponse'
                description: Describes lead source data returned by Leadping.
        '404':
          description: The specified source was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
    delete:
      tags:
      - Sources
      summary: Delete an organization lead intake source
      description: Deletes a lead source from the current organization so it can no longer accept or route newly captured leads.
      operationId: Sources_Delete
      parameters:
      - name: id
        in: path
        description: The ID of the source to delete.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Source was successfully deleted.
        '404':
          description: The specified source was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - safety-critical
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /sources/{id}/credentials/rotate:
    post:
      tags:
      - Sources
      summary: Rotate a source intake credential
      description: Invalidates the current credential and returns the replacement secret once. Only its hash and short preview are retained.
      operationId: Sources_RotateApiKey
      parameters:
      - name: id
        in: path
        description: The ID of the source whose intake credential should be rotated.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SourceCredentialIssueResponse'
                description: Returns a newly issued source credential exactly once.
        '404':
          description: The requested resource was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /sources/all/my:
    post:
      tags:
      - Sources
      summary: List organization lead intake sources for user
      description: Lists current-user lead sources with paging, sorting, and filters for intake configuration and routing review.
      operationId: Sources_GetAllForCurrentUser
      requestBody:
        description: Pagination, filtering, and sorting options.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
        required: true
      responses:
        '200':
          description: Sources were successfully retrieved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfSourceTableRow'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '400':
          description: The request was invalid or malformed.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /sources/{id}/metrics:
    get:
      tags:
      - Sources
      summary: Get lead metrics for a source
      description: View lead creation metrics for an organization intake source, including accepted, rejected, duplicate, validation, and recent activity counts.
      operationId: Sources_GetMetrics
      parameters:
      - name: id
        in: path
        description: The ID of the source to retrieve metrics for.
        required: true
        schema:
          type: string
      - name: startAt
        in: query
        description: Optional start date/time for the metric range.
        schema:
          type: string
          format: date-time
      - name: endAt
        in: query
        description: Optional end date/time for the metric range.
        schema:
          type: string
          format: date-time
      - name: days
        in: query
        description: Optional rolling day count when explicit dates are not provided.
        schema:
          type:
          - 'null'
          - integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/SourceMetricsResponse'
                description: Aggregates lead volume, conversion, delivery, and activity metrics attributed to a Leadping source over the requested reporting period.
        '404':
          description: The requested resource was not found.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Not Found
                status: 404
                detail: The request could not be completed.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
components:
  schemas:
    TagSummary:
      type: object
      properties:
        id:
          type: string
          description: Unique Leadping identifier for this tag summary.
        name:
          type: string
          description: Display name for this tag summary in the Leadping API.
        normalizedName:
          type: string
          description: Normalized name used for case-insensitive tag matching and deduplication.
        color:
          type:
          - 'null'
          - string
          description: Hex color used to display this tag or status in Leadping clients.
      description: Summary schema for Leadping API tag summary data used in dashboards and reports.
    OrderByOption:
      required:
      - field
      type: object
      properties:
        field:
          type: string
        direction:
          enum:
          - asc
          - desc
          type:
          - 'null'
          - string
    SourceResponse:
      type: object
      properties:
        description:
          type:
          - 'null'
          - string
          description: Human-readable description that explains this lead source response to API users.
        enabled:
          type: boolean
          description: Indicates whether this lead source response is active and available in the Leadping API.
        apiKeyPreview:
          type:
          - 'null'
          - string
          description: Masked preview of the source API key for compact display.
        apiKeyRotatedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when the source credential was most recently rotated.
          format: date-time
        firstLeadReceivedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when this source first delivered a lead to Leadping.
          format: date-time
        lastLeadReceivedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when this source most recently delivered a lead to Leadping.
          format: date-time
        user:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User summary connected to this lead source response.
        createdByUser:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User summary for the person who created this lead source response.
        createdByUserEmail:
          type:
          - 'null'
          - string
          description: Email used to resolve the creator's avatar.
          format: email
        modifiedByUser:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User summary for the person who last modified this lead source response.
        organization:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Organization summary connected to this lead source response.
        costPerLead:
          type:
          - 'null'
          - number
          description: Configured cost charged when this source creates a billable lead.
          format: double
        allowedStates:
          type: array
          items:
            type: string
          description: State or region allowlist used to accept leads from this source.
        allowedProducts:
          type: array
          items:
            type: string
          description: Product allowlist used to accept or route leads from this source.
        requiresTrustedForm:
          type: boolean
          description: Indicates whether leads from this source must include a TrustedForm certificate for consent proof.
        complianceApproved:
          type: boolean
          description: Indicates whether the organization or sender passed compliance review.
        defaultTagIds:
          type: array
          items:
            type: string
          description: Tag IDs automatically assigned to leads created by this source.
        defaultTags:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/TagSummary'
            description: Summary schema for Leadping API tag summary data used in dashboards and reports.
          description: Default tag summaries automatically applied to leads from this source.
        name:
          type: string
        id:
          type: string
        createdAt:
          type: string
          format: date-time
        modifiedAt:
          type:
          - 'null'
          - string
          format: date-time
      description: Describes lead source data returned by Leadping.
    SourceRequest:
      required:
      - allowedStates
      - allowedProducts
      - defaultTagIds
      - defaultTagNames
      type: object
      properties:
        name:
          type:
          - 'null'
          - string
          description: Human-readable source name.
        description:
          type:
          - 'null'
          - string
          description: Human-readable description that explains this lead source request to API users.
        allowedStates:
          type: array
          items:
            type: string
          description: State or region allowlist used to accept leads from this source.
        allowedProducts:
          type: array
          items:
            type: string
          description: Product allowlist used to accept or route leads from this source.
        requiresTrustedForm:
          type: boolean
          description: Indicates whether leads from this source must include a TrustedForm certificate for consent proof.
        defaultTagIds:
          type: array
          items:
            type: string
          description: Tag IDs automatically assigned to leads created by this source.
        defaultTagNames:
          type: array
          items:
            type: string
          description: Tag names automatically assigned to leads created by this source.
      description: Defines the fields clients can send when working with lead source.
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
          description: URI reference that identifies the problem type.
        title:
          type:
          - 'null'
          - string
          description: Short, human-readable summary of the problem.
        status:
          type:
          - 'null'
          - integer
          description: HTTP status code returned for the problem.
          format: int32
        detail:
          type:
          - 'null'
          - string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - 'null'
          - string
          description: URI reference that identifies this specific occurrence of the problem.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Validation errors keyed by the JSON request field name. Present for request validation failures.
        traceId:
          type: string
          description: Request trace identifier used to correlate this problem with Leadping diagnostics.
      description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
    ExactMatchFilter:
      required:
      - field
      type: object
      properties:
        value: {}
        field:
          type: string
    PagedResultOfSourceTableRow:
      type: object
      properties:
        items:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/SourceTableRow'
            description: Summarizes lead source data in paginated and searchable results.
        pageSize:
          type: integer
          format: int32
        totalCount:
          type:
          - 'null'
          - integer
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
    RangeFilter:
      required:
      - field
      type: object
      properties:
        greaterThan: {}
        greaterThanOrEqual: {}
        lessThan: {}
        lessThanOrEqual: {}
        field:
          type: string
    IdNamePair:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      description: User summary connected to this automation configuration response.
    SourceMetricsResponse:
      type: object
      properties:
        range:
          allOf:
          - $ref: '#/components/schemas/AnalyticsDateRange'
          description: Range associated with this Leadping source metrics.
        totalLeads:
          type: integer
          description: Total number of leads records represented by this Leadping source metrics.
          format: int32
        totalErrors:
          type: integer
          description: Total number of lead intake errors represented by this Leadping source metrics.
          format: int32
        points:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/AnalyticsTrendPointOfint'
            description: Associates a typed analytics value with one normalized time bucket in a trend series.
          description: Collection of points included with this Leadping source metrics.
        errorPoints:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/AnalyticsTrendPointOfint'
            description: Associates a typed analytics value with one normalized time bucket in a trend series.
          description: Collection of lead intake error points included with this Leadping source metrics.
        generatedAt:
          type: string
          description: Date and time when the source metrics was generated.
          format: date-time
      description: Aggregates lead volume, conversion, delivery, and activity metrics attributed to a Leadping source over the requested reporting period.
    SourceCredentialIssueResponse:
      type: object
      properties:
        source:
          allOf:
          - $ref: '#/components/schemas/SourceResponse'
          description: Source metadata safe for later retrieval.
        secret:
          type: string
          description: Newly issued source credential. Leadping does not retain this plaintext value.
      description: Returns a newly issued source credential exactly once.
    AnalyticsDateRange:
      type: object
      properties:
        startAt:
          type: string
          description: Date and time when this Leadping analytics date range was start.
          format: date-time
        endAt:
          type: string
          description: Date and time when this Leadping analytics date range was end.
          format: date-time
        bucketSize:
          allOf:
          - $ref: '#/components/schemas/AnalyticsBucketSize'
          description: Bucket size associated with this Leadping analytics date range.
      description: Defines the inclusive reporting window and comparison window used to calculate Leadping analytics.
    AnalyticsTrendPointOfint:
      type: object
      properties:
        startAt:
          type: string
          description: Date and time when this Leadping analytics trend point was start.
          format: date-time
        endAt:
          type: string
          description: Date and time when this Leadping analytics trend point was end.
          format: date-time
        label:
          type: string
          description: Human-readable label for this Leadping analytics trend point.
        value:
          type: integer
          description: Value associated with this Leadping analytics trend point.
          format: int32
      description: Associates a typed analytics value with one normalized time bucket in a trend series.
    RequestDataOptions:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
        orderBy:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/OrderByOption'
        includeCount:
          type:
          - 'null'
          - boolean
        search:
          type:
          - 'null'
          - string
        searchFields:
          type:
          - 'null'
          - array
          items:
            type: string
        filters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/ExactMatchFilter'
        rangeFilters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/RangeFilter'
    AnalyticsBucketSize:
      enum:
      - 3
      - 0
      - 1
      - 2
      type: integer
      description: Selects the time interval used to aggregate points in a Leadping analytics trend series.
      format: int32
    SourceTableRow:
      type: object
      properties:
        id:
          type: string
          description: Unique Leadping identifier for this lead source table row.
        name:
          type: string
          description: Display name for this lead source table row in the Leadping API.
        description:
          type: string
          description: Human-readable description that explains this lead source table row to API users.
        apiKeyPreview:
          type: string
          description: Masked preview of the source API key for compact display.
        apiKeyRotatedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when the source credential was most recently rotated.
          format: date-time
        apiKeyLastUsedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when the source API key was last used.
          format: date-time
        apiKeyTotalUses:
          type: integer
          description: Total number of authenticated requests made with this source API key.
          format: int64
        createdAt:
          type: string
          description: UTC timestamp when this lead source table row was created.
          format: date-time
        modifiedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when this lead source table row was last modified.
          format: date-time
        firstLeadReceivedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when this source first delivered a lead to Leadping.
          format: date-time
        lastLeadReceivedAt:
          type:
          - 'null'
          - string
          description: UTC timestamp when this source most recently delivered a lead to Leadping.
          format: date-time
        enabled:
          type: boolean
          description: Indicates whether this lead source table row is active and available in the Leadping API.
        user:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User summary connected to this lead source table row.
        createdByUser:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User summary for the person who created this lead source table row.
        modifiedByUser:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: User summary for the person who last modified this lead source table row.
        organization:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Organization summary connected to this lead source table row.
        organizationId:
          type:
          - 'null'
          - string
          description: Organization ID that owns this lead source.
        costPerLead:
          type:
          - 'null'
          - number
          description: Configured cost charged when this source creates a billable lead.
          format: double
        allowedStates:
          type: array
          items:
            type: string
          description: State or region allowlist used to accept leads from this source.
        allowedProducts:
          type: array
          items:
            type: string
          description: Product allowlist used to accept or route leads from this source.
        requiresTrustedForm:
          type: boolean
          description: Indicates whether leads from this source must include a TrustedForm certificate for consent proof.
        complianceApproved:
          type: boolean
          description: Indicates whether the organization or sender passed compliance review.
        defaultTagIds:
          type: array
          items:
            type: string
          description: Tag IDs automatically assigned to leads created by this source.
        defaultTags:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/TagSummary'
            description: Summary schema for Leadping API tag summary data used in dashboards and reports.
          description: Default tag summaries automatically applied to leads from this source.
      description: Summarizes lead source data in paginated and searchable results.
  securitySchemes:
    Bearer:
      type: http
      description: Authorization header using the Bearer scheme. Accepted values are Leadping user JWT access tokens and WorkOS organization API keys beginning with sk_.
      scheme: bearer
      bearerFormat: JWT or organization API key
    SourceKey:
      type: http
      description: 'Leadping source key for lead ingestion endpoints only using the Authorization header. Example: "Authorization: Bearer lp_src_...".'
      scheme: bearer
      bearerFormat: Leadping source key
externalDocs:
  description: Leadping API documentation, authentication guide, concepts, and integration guidance.
  url: https://leadping.ai/docs/api-reference
