openapi: 3.2.0
info:
  title: Leadping Usage API
  description: The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.
  termsOfService: https://leadping.ai/docs/terms-of-service
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
  summary: Lead management, messaging, calling, and automation API
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: Usage
  description: Provides billable usage records for Leadping services. Use these endpoints to review messaging and calling consumption, inspect usage summaries, and reconcile provider activity for an organization.
paths:
  /usage/all/my:
    post:
      tags:
      - Usage
      summary: List organization messaging usage ledger entries
      description: Lists current-organization usage ledger entries with paging, sorting, and filters for messaging, billing, and wallet review.
      operationId: Usage_GetAllForCurrentOrganization
      requestBody:
        description: The filtering, sorting, and pagination options.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
          application/*+json:
            schema:
              $ref: '#/components/schemas/RequestDataOptions'
        required: true
      responses:
        '200':
          description: Returns the paged usage ledger table row.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagedResultOfUsageLedgerTableRow'
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Bad Request
                status: 400
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
  /usage/summary/my:
    get:
      tags:
      - Usage
      summary: Get organization messaging usage summary
      description: Returns current-organization usage totals for the active billing period, including spend, limits, and event summary data.
      operationId: Usage_GetSummaryForCurrentOrganization
      parameters:
      - name: periodStart
        in: query
        description: The period start.
        schema:
          type: string
          format: date-time
      - name: periodEnd
        in: query
        description: The period end.
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Returns the usage summary response.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/UsageSummaryResponse'
                description: Describes usage summary response data used by Leadping.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
components:
  schemas:
    UsageLedgerTableRow:
      type: object
      properties:
        id:
          type: string
          description: Unique Leadping identifier for this usage ledger.
        organization:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Identifier and display name of the related organization.
        user:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Identifier and display name of the related user.
        lead:
          type:
          - 'null'
          - object
          allOf:
          - $ref: '#/components/schemas/IdNamePair'
          description: Identifier and display name of the related lead.
        phoneNumberId:
          type:
          - 'null'
          - string
          description: The phone number ID associated with this usage ledger.
        phoneNumber:
          type:
          - 'null'
          - string
          description: The phone number associated with this usage ledger.
        channel:
          allOf:
          - $ref: '#/components/schemas/UsageChannel'
          description: Channel for this usage ledger.
        billableUnit:
          allOf:
          - $ref: '#/components/schemas/BillableUnit'
          description: Billable unit for this usage ledger.
        status:
          allOf:
          - $ref: '#/components/schemas/UsageStatus'
          description: The current status for this usage ledger.
        quantity:
          type: number
          description: Quantity for this usage ledger.
          format: double
        durationSeconds:
          type:
          - 'null'
          - integer
          description: Duration seconds for this usage ledger.
          format: int32
        billableSeconds:
          type:
          - 'null'
          - integer
          description: Billable seconds for this usage ledger.
          format: int32
        smsSegments:
          type:
          - 'null'
          - integer
          description: SMS segments for this usage ledger.
          format: int32
        unitPrice:
          type: number
          description: Unit price for this usage ledger.
          format: double
        customerChargeAmount:
          type: number
          description: The monetary customer charge amount for this usage ledger.
          format: double
        isBillable:
          type: boolean
          description: Whether this usage ledger is billable.
        description:
          type:
          - 'null'
          - string
          description: The human-readable description of this usage ledger.
        createdAt:
          type: string
          description: UTC timestamp for created at on this usage ledger.
          format: date-time
      description: Describes usage ledger data used in Leadping API requests and responses.
    OrderByOption:
      required:
      - field
      type: object
      properties:
        field:
          type: string
        direction:
          enum:
          - asc
          - desc
          type:
          - 'null'
          - string
    UsageCounterLine:
      type: object
      properties:
        key:
          type: string
          description: The stable key for this usage counter.
        label:
          type: string
          description: The human-readable label for this usage counter.
        value:
          type: number
          description: Numeric for this usage counter.
          format: double
        unit:
          type: string
          description: The unit label for this usage counter.
        sortOrder:
          type: integer
          description: The display order for this usage counter.
          format: int32
      description: Describes one named usage total displayed in organization billing and activity summaries.
    BillableUnit:
      enum:
      - lead_received
      - phone_identity_lookup
      - sms_segment
      - mms_message
      - email_message
      - voice_minute
      - phone_number_month
      - warmup_sms_segment
      - warmup_voice_minute
      - website_setup
      - openai_operation
      - domain_registration
      - 10dlc_application
      - 10dlc_campaign_month
      - payment_processing_fee
      - connection_action
      - automation_run
      type: string
      description: Identifies the metered unit used to price Leadping usage, such as a message, call minute, lookup, or phone number.
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
          description: URI reference that identifies the problem type.
        title:
          type:
          - 'null'
          - string
          description: Short, human-readable summary of the problem.
        status:
          type:
          - 'null'
          - integer
          description: HTTP status code returned for the problem.
          format: int32
        detail:
          type:
          - 'null'
          - string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - 'null'
          - string
          description: URI reference that identifies this specific occurrence of the problem.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Validation errors keyed by the JSON request field name. Present for request validation failures.
        traceId:
          type: string
          description: Request trace identifier used to correlate this problem with Leadping diagnostics.
      description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
    ExactMatchFilter:
      required:
      - field
      type: object
      properties:
        value: {}
        field:
          type: string
    PagedResultOfUsageLedgerTableRow:
      type: object
      properties:
        items:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/UsageLedgerTableRow'
            description: Describes usage ledger data used in Leadping API requests and responses.
        pageSize:
          type: integer
          format: int32
        totalCount:
          type:
          - 'null'
          - integer
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
    RangeFilter:
      required:
      - field
      type: object
      properties:
        greaterThan: {}
        greaterThanOrEqual: {}
        lessThan: {}
        lessThanOrEqual: {}
        field:
          type: string
    UsageSummaryLine:
      type: object
      properties:
        channel:
          allOf:
          - $ref: '#/components/schemas/UsageChannel'
          description: Channel for this usage summary line.
        billableUnit:
          allOf:
          - $ref: '#/components/schemas/BillableUnit'
          description: Billable unit for this usage summary line.
        status:
          allOf:
          - $ref: '#/components/schemas/UsageStatus'
          description: The current status for this usage summary line.
        quantity:
          type: number
          description: Quantity for this usage summary line.
          format: double
        customerChargeAmount:
          type: number
          description: The monetary customer charge amount for this usage summary line.
          format: double
        recordCount:
          type: integer
          description: The record count for this usage summary line.
          format: int32
      description: Describes usage summary line data used in Leadping API requests and responses.
    UsageSummaryResponse:
      type: object
      properties:
        periodStart:
          type: string
          description: UTC timestamp for period start on this usage summary.
          format: date-time
        periodEnd:
          type: string
          description: UTC timestamp for period end on this usage summary.
          format: date-time
        customerChargeTotal:
          type: number
          description: The customer charge total for this usage summary.
          format: double
        billableQuantityTotal:
          type: number
          description: The billable quantity total for this usage summary.
          format: double
        transactionCount:
          type: integer
          description: The usage record count for this usage summary.
          format: int32
        pendingInvoiceCount:
          type: integer
          description: The pending invoice count for this usage summary.
          format: int32
        failedCount:
          type: integer
          description: The failed count for this usage summary.
          format: int32
        lines:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/UsageSummaryLine'
            description: Describes usage summary line data used in Leadping API requests and responses.
          description: The lines included with this usage summary.
        counters:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/UsageCounterLine'
            description: Describes one named usage total displayed in organization billing and activity summaries.
          description: The named usage counters included with this usage summary.
      description: Describes usage summary response data used by Leadping.
    UsageStatus:
      enum:
      - recorded
      - rated
      - pending_invoice
      - invoiced
      - charged
      - failed
      - refunded_credited
      - non_billable_internal
      - blocked_due_to_billing
      type: string
      description: Describes whether a metered usage record is pending, rated, billed, reconciled, excluded, or failed.
    IdNamePair:
      required:
      - id
      - name
      type: object
      properties:
        id:
          type: string
        name:
          type: string
      description: User summary connected to this automation configuration response.
    RequestDataOptions:
      type: object
      properties:
        pageSize:
          type: integer
          format: int32
        continuationToken:
          type:
          - 'null'
          - string
        orderBy:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/OrderByOption'
        includeCount:
          type:
          - 'null'
          - boolean
        search:
          type:
          - 'null'
          - string
        searchFields:
          type:
          - 'null'
          - array
          items:
            type: string
        filters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/ExactMatchFilter'
        rangeFilters:
          type:
          - 'null'
          - array
          items:
            $ref: '#/components/schemas/RangeFilter'
    UsageChannel:
      enum:
      - lead
      - sms
      - mms
      - email
      - voice
      - phone_number
      - warmup
      - website
      - openai
      - domain
      - 10dlc
      - payment
      - connection
      - automation
      type: string
      description: Identifies the messaging, calling, phone-number, lookup, or platform channel that generated billable usage.
  securitySchemes:
    Bearer:
      type: http
      description: Authorization header using the Bearer scheme. Accepted values are Leadping user JWT access tokens and WorkOS organization API keys beginning with sk_.
      scheme: bearer
      bearerFormat: JWT or organization API key
    SourceKey:
      type: http
      description: 'Leadping source key for lead ingestion endpoints only using the Authorization header. Example: "Authorization: Bearer lp_src_...".'
      scheme: bearer
      bearerFormat: Leadping source key
externalDocs:
  description: Leadping API documentation, authentication guide, concepts, and integration guidance.
  url: https://leadping.ai/docs/api-reference
