openapi: 3.2.0
info:
  title: Leadping API
  description: The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.
  termsOfService: https://leadping.ai/docs/terms-of-service
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
  summary: Lead management, messaging, calling, and automation API
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: Leadping API
paths:
  /.well-known/agent-card.json:
    get:
      tags:
      - Leadping API
      summary: Get the Leadping A2A Agent Card
      description: Returns Leadping's public A2A Agent Card, including protocol capabilities, authentication requirements, input and output modes, and supported skills.
      operationId: A2A_GetAgentCard
      responses:
        '200':
          description: OK
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      x-agentic-access:
        action-class: connected
        consequences:
        - read
        subject:
          required: false
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: false
  /a2a:
    post:
      tags:
      - Leadping API
      summary: Handle an A2A request
      description: Accepts authenticated A2A JSON-RPC requests for Leadping's supported agent operations.
      operationId: A2A_HandleRequest
      responses:
        '200':
          description: OK
        '401':
          description: Authentication credentials are missing or invalid.
          headers:
            WWW-Authenticate:
              description: Bearer authentication challenge returned when credentials are missing or invalid.
              schema:
                type: string
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Unauthorized
                status: 401
                detail: The request could not be completed.
        '403':
          description: The authenticated user or organization does not have permission to perform this operation.
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Forbidden
                status: 403
                detail: The request could not be completed.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
              example:
                type: about:blank
                title: Too Many Requests
                status: 429
                detail: The request could not be completed.
      security:
      - Bearer: []
      x-agentic-access:
        action-class: acting
        consequences:
        - write
        subject:
          required: true
        authorization:
          source: OpenAPI security requirements
          audience: https://api.leadping.ai
        audit:
          recommended: true
webhooks:
  automationDelivery:
    summary: Leadping automation webhook delivery
    description: A configurable outbound HTTP request sent by a Leadping automation to a consumer-operated HTTPS endpoint.
    get:
      summary: Receive an automation webhook using GET
      description: Receives a consumer-configured Leadping automation request. Correlation headers are for tracing and deduplication, not authentication or proof of origin.
      operationId: AutomationWebhook_Get
      parameters:
      - name: X-Leadping-Event
        in: header
        description: Automation trigger event type.
        required: true
        schema:
          type: string
      - name: X-Leadping-Automation-Id
        in: header
        description: Identifier of the automation that sent the request.
        required: true
        schema:
          type: string
      - name: X-Leadping-Run-Id
        in: header
        description: Stable automation-run identifier reused across retries.
        required: true
        schema:
          type: string
      - name: X-Leadping-Action-Id
        in: header
        description: Identifier of the webhook action within the automation.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The consumer accepted and processed the delivery.
        '202':
          description: The consumer accepted the delivery for asynchronous processing.
      security: []
      x-agentic-access:
        action-class: acting
        consequences:
        - physical
        subject:
          required: false
        authorization:
          source: Consumer-configured webhook authentication
        audit:
          recommended: true
      tags:
      - Leadping API
    post:
      summary: Receive an automation webhook using POST
      description: Receives a consumer-configured Leadping automation request. Correlation headers are for tracing and deduplication, not authentication or proof of origin.
      operationId: AutomationWebhook_Post
      parameters:
      - name: X-Leadping-Event
        in: header
        description: Automation trigger event type.
        required: true
        schema:
          type: string
      - name: X-Leadping-Automation-Id
        in: header
        description: Identifier of the automation that sent the request.
        required: true
        schema:
          type: string
      - name: X-Leadping-Run-Id
        in: header
        description: Stable automation-run identifier reused across retries.
        required: true
        schema:
          type: string
      - name: X-Leadping-Action-Id
        in: header
        description: Identifier of the webhook action within the automation.
        required: true
        schema:
          type: string
      requestBody:
        description: Consumer-configured rendered body. Its shape is defined by the automation, not by Leadping.
        content:
          application/json:
            schema: {}
            example:
              event: lead.updated
              leadId: lead-123
          text/plain:
            schema:
              type: string
            example: Lead lead-123 was updated
        required: true
      responses:
        '200':
          description: The consumer accepted and processed the delivery.
        '202':
          description: The consumer accepted the delivery for asynchronous processing.
      security: []
      x-agentic-access:
        action-class: acting
        consequences:
        - physical
        subject:
          required: false
        authorization:
          source: Consumer-configured webhook authentication
        audit:
          recommended: true
      tags:
      - Leadping API
    put:
      summary: Receive an automation webhook using PUT
      description: Receives a consumer-configured Leadping automation request. Correlation headers are for tracing and deduplication, not authentication or proof of origin.
      operationId: AutomationWebhook_Put
      parameters:
      - name: X-Leadping-Event
        in: header
        description: Automation trigger event type.
        required: true
        schema:
          type: string
      - name: X-Leadping-Automation-Id
        in: header
        description: Identifier of the automation that sent the request.
        required: true
        schema:
          type: string
      - name: X-Leadping-Run-Id
        in: header
        description: Stable automation-run identifier reused across retries.
        required: true
        schema:
          type: string
      - name: X-Leadping-Action-Id
        in: header
        description: Identifier of the webhook action within the automation.
        required: true
        schema:
          type: string
      requestBody:
        description: Consumer-configured rendered body. Its shape is defined by the automation, not by Leadping.
        content:
          application/json:
            schema: {}
            example:
              event: lead.updated
              leadId: lead-123
          text/plain:
            schema:
              type: string
            example: Lead lead-123 was updated
        required: true
      responses:
        '200':
          description: The consumer accepted and processed the delivery.
        '202':
          description: The consumer accepted the delivery for asynchronous processing.
      security: []
      x-agentic-access:
        action-class: acting
        consequences:
        - physical
        subject:
          required: false
        authorization:
          source: Consumer-configured webhook authentication
        audit:
          recommended: true
      tags:
      - Leadping API
    patch:
      summary: Receive an automation webhook using PATCH
      description: Receives a consumer-configured Leadping automation request. Correlation headers are for tracing and deduplication, not authentication or proof of origin.
      operationId: AutomationWebhook_Patch
      parameters:
      - name: X-Leadping-Event
        in: header
        description: Automation trigger event type.
        required: true
        schema:
          type: string
      - name: X-Leadping-Automation-Id
        in: header
        description: Identifier of the automation that sent the request.
        required: true
        schema:
          type: string
      - name: X-Leadping-Run-Id
        in: header
        description: Stable automation-run identifier reused across retries.
        required: true
        schema:
          type: string
      - name: X-Leadping-Action-Id
        in: header
        description: Identifier of the webhook action within the automation.
        required: true
        schema:
          type: string
      requestBody:
        description: Consumer-configured rendered body. Its shape is defined by the automation, not by Leadping.
        content:
          application/json:
            schema: {}
            example:
              event: lead.updated
              leadId: lead-123
          text/plain:
            schema:
              type: string
            example: Lead lead-123 was updated
        required: true
      responses:
        '200':
          description: The consumer accepted and processed the delivery.
        '202':
          description: The consumer accepted the delivery for asynchronous processing.
      security: []
      x-agentic-access:
        action-class: acting
        consequences:
        - physical
        subject:
          required: false
        authorization:
          source: Consumer-configured webhook authentication
        audit:
          recommended: true
      tags:
      - Leadping API
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
          description: URI reference that identifies the problem type.
        title:
          type:
          - 'null'
          - string
          description: Short, human-readable summary of the problem.
        status:
          type:
          - 'null'
          - integer
          description: HTTP status code returned for the problem.
          format: int32
        detail:
          type:
          - 'null'
          - string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - 'null'
          - string
          description: URI reference that identifies this specific occurrence of the problem.
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          description: Validation errors keyed by the JSON request field name. Present for request validation failures.
        traceId:
          type: string
          description: Request trace identifier used to correlate this problem with Leadping diagnostics.
      description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
  securitySchemes:
    Bearer:
      type: http
      description: Authorization header using the Bearer scheme. Accepted values are Leadping user JWT access tokens and WorkOS organization API keys beginning with sk_.
      scheme: bearer
      bearerFormat: JWT or organization API key
    SourceKey:
      type: http
      description: 'Leadping source key for lead ingestion endpoints only using the Authorization header. Example: "Authorization: Bearer lp_src_...".'
      scheme: bearer
      bearerFormat: Leadping source key
externalDocs:
  description: Leadping API documentation, authentication guide, concepts, and integration guidance.
  url: https://leadping.ai/docs/api-reference
