openapi: 3.2.0
info:
  title: Leadping Feedback API
  description: The Leadping API helps businesses capture and manage leads, automate follow-up, send SMS and MMS messages, place calls, track conversations, enforce contact suppression, and analyze communication workflows. Use this OpenAPI 3.1 contract to integrate lead sources, build organization tools, or generate a typed API client. Authenticate protected operations with a Leadping user access token or WorkOS organization API key. Lead intake operations also accept a Leadping source key.
  termsOfService: https://leadping.ai/docs/terms-of-service
  contact:
    name: Leadping Support
    url: https://leadping.ai/contact
    email: support@leadping.ai
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: v1
  summary: Lead management, messaging, calling, and automation API
servers:
- url: https://api.leadping.ai
  description: Production
tags:
- name: Feedback
  description: Captures Leadping product feedback and supports administrative triage. Users can submit feedback, while authorized staff can search, inspect, classify, and update feedback throughout the review process.
paths:
  /feedback:
    post:
      tags:
      - Feedback
      summary: Create product feedback for an organization
      description: Creates product feedback for the current organization, capturing category, message, and context for operator review.
      operationId: Feedback_Create
      requestBody:
        description: The feedback category, message, and optional product context to submit.
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FeedbackCreateRequest'
              description: Defines the fields clients can send when working with feedback creation.
          application/*+json:
            schema:
              allOf:
              - $ref: '#/components/schemas/FeedbackCreateRequest'
              description: Defines the fields clients can send when working with feedback creation.
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/FeedbackResponse'
                description: Describes feedback item data returned by Leadping.
        '400':
          description: The request was invalid or failed validation.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '401':
          description: Authentication credentials are missing or invalid.
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
        '429':
          description: The API rate limit for this account or client has been exceeded.
          headers:
            Retry-After:
              description: Number of seconds to wait before retrying the request.
              schema:
                minimum: 0
                type: integer
                format: int32
          content:
            application/problem+json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProblemDetails'
                description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      security:
      - Bearer: []
components:
  schemas:
    FeedbackType:
      enum:
      - bug
      - confusing
      - feature_request
      - missing_capability
      - other
      type: string
      description: Defines the type of product feedback submitted from inside Leadping.
    FeedbackStatus:
      enum:
      - new
      - reviewed
      - planned
      - in_progress
      - shipped
      - closed
      - ignored
      type: string
      description: Defines admin triage statuses for durable product feedback.
    FeedbackResponse:
      type: object
      properties:
        id:
          type: string
          description: Unique Leadping identifier for this feedback item response.
        organizationId:
          type:
          - 'null'
          - string
          description: Organization ID connected to the feedback item, when the feedback came from an organization workspace.
        userId:
          type:
          - 'null'
          - string
          description: User ID for the person who submitted the feedback.
        type:
          allOf:
          - $ref: '#/components/schemas/FeedbackType'
          description: Type classification used to route and interpret this feedback item response in the Leadping API.
        status:
          allOf:
          - $ref: '#/components/schemas/FeedbackStatus'
          description: Current lifecycle status for this feedback item response in the Leadping API.
        area:
          type:
          - 'null'
          - string
          description: Product area or app section connected to this feedback item response.
        route:
          type:
          - 'null'
          - string
          description: Application route where this feedback item response originated or should direct the user.
        message:
          type: string
          description: Message text supplied by the user or returned by the Leadping API for this feedback item response.
        allowContact:
          type: boolean
          description: Indicates whether the submitter permits Leadping support to contact them about the feedback.
        clientVersion:
          type:
          - 'null'
          - string
          description: Client application version that submitted this feedback item response.
        createdAt:
          type: string
          description: UTC timestamp when this feedback item response was created.
          format: date-time
      description: Describes feedback item data returned by Leadping.
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - 'null'
          - string
          description: URI reference that identifies the problem type.
        title:
          type:
          - 'null'
          - string
          description: Short, human-readable summary of the problem.
        status:
          type:
          - 'null'
          - integer
          description: HTTP status code returned for the problem.
          format: int32
        detail:
          type:
          - 'null'
          - string
          description: Human-readable explanation specific to this occurrence of the problem.
        instance:
          type:
          - 'null'
          - string
          description: URI reference that identifies this specific occurrence of the problem.
      description: Standard problem-details response containing machine-readable and human-readable information about an HTTP API error.
      example:
        type: https://leadping.ai/docs/errors/validation
        title: Request validation failed
        status: 400
        detail: One or more request fields are invalid.
        instance: /leads/intake
    FeedbackCreateRequest:
      type: object
      properties:
        type:
          enum:
          - bug
          - confusing
          - feature_request
          - missing_capability
          - other
          type:
          - 'null'
          - string
          description: Defines the type of product feedback submitted from inside Leadping.
        message:
          type:
          - 'null'
          - string
          description: Message text supplied by the user or returned by the Leadping API for this feedback creation request.
        route:
          type:
          - 'null'
          - string
          description: Application route where this feedback creation request originated or should direct the user.
        area:
          type:
          - 'null'
          - string
          description: Product area or app section connected to this feedback creation request.
        allowContact:
          type: boolean
          description: Indicates whether the submitter permits Leadping support to contact them about the feedback.
        clientVersion:
          type:
          - 'null'
          - string
          description: Client application version that submitted this feedback creation request.
      description: Defines the fields clients can send when working with feedback creation.
  securitySchemes:
    Bearer:
      type: http
      description: Authorization header using the Bearer scheme. Accepted values are Leadping user JWT access tokens and WorkOS organization API keys beginning with sk_.
      scheme: bearer
      bearerFormat: JWT or organization API key
    SourceKey:
      type: http
      description: 'Leadping source key for lead ingestion endpoints only using the Authorization header. Example: "Authorization: Bearer lp_src_...".'
      scheme: bearer
      bearerFormat: Leadping source key
externalDocs:
  description: Leadping API documentation, authentication guide, concepts, and integration guidance.
  url: https://leadping.ai/docs/api-reference
